.modal {
    &:first-of-type{z-index:1039;}
    .modal-title { border-bottom: 0; font-weight: 700;
        .fa {background-color:transparent;}
    }
    &.modal-full .modal-dialog{max-width: initial;    margin-left: 1rem;    margin-right: 1rem;    }
    &.modal-xl .modal-dialog{max-width: 1100px; }
}
.modal-backdrop:first-of-type{z-index:1039;}

body .mat-dialog-container { padding: 0;
  .close:focus { outline: 0; }
}
