// Global branded styling. App specific styling should NOT go in this file
header {
  background:#fff;border-bottom:1px solid #e2e5e8;margin-bottom: 1rem; 
  .navbar-brand {margin-right: 3rem;color:#000;
    strong { }
    .fa { color: yellow; }
  }
  .logo { text-shadow: 1px 1px 5px rgba(255,255,255,.3); color: $interact-primary; }

  .search-group { padding: 0.5em 1em;
    .form-control, .btn { border: 0; }
    .btn { border-left-width: 1px; }
    .search-option { width: 7rem; }
    .search-field { width: 8rem; }
  }

  .nav-mobile-only{margin-top:1rem;padding-top:1rem;border-top:1px solid #ccc;}

  .navbar { padding: 0;
    .navbar-nav > .nav-item .nav-link, .form-inline > a:not([href]):not([tabindex]) { color:#8f9daf;font-size:.75rem;font-weight: bold;padding-bottom: .75rem;padding-top: .9rem;
      &.active { border-bottom: 2px solid $interact-primary;
      .fa{color:$interact-primary; }
     }
    }
    #navbar-main .link { color: #8f9daf; }
    .navbar-toggler { color: #8f9daf; font-size: 1.1rem; top: .75rem; }
  }

  @include media-breakpoint-up(lg) {
    .nav-component, .navbar-mobile { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; width: 100%; }
  }

  @include media-breakpoint-down(md) {
    .navbar-ngbootstrap { flex-direction: initial;
      .collapse { display: block; }
      .navbar-mobile { position: fixed; background: white; left: -80%; top: 0px; bottom: 0px; width: 80%; z-index: 999; display: block; transition: 0.3s ease-out; padding: 1rem 0; overflow-y: auto; will-change: transform; backface-visibility: hidden; }
      .nav-mobile-bg { position: relative; left: 0px; top: 0px; bottom: 0px; right: 0px; background-color: rgba(0, 0, 0, 0.3); cursor: pointer; opacity: 0; transition: 0.3s ease-out }

      .open {
        .nav-item a.nav-link { color: #000; display: block; width: 100%; }
        .navbar-mobile { left: 0px; transition: 0.3s ease-out; box-shadow: 5px 0px 40px rgba(0, 0, 0, .5); }
        .nav-mobile-bg { position: fixed; z-index: 998; opacity: 1; transition: 0.3s ease-out; }
      }

      .navbar-nav .nav-link.active { background-color: #f7f7f9; }
      a.logout { display: block; }
      .dropdown { border-top: 1px solid #ccc; display: block; width: 100%; }
      .dropdown-toggle { display: none; }
      .dropdown-menu { display: block; border: 0; float: none; float: none; position: initial; width: 100%; }

      &.navbar-inverse .nav-link, &.navbar-inverse .nav-link.active, .dropdown-item { color: black; padding: .5rem 1rem;
        &:hover { color: black; background-color: #f7f7f9; }
        &:active { background-color: #e7e7e7; }
      }
    }
  }
}
