// Global branded styling. App specific styling should NOT go in this file

// Buttons
button{cursor:pointer;}
.btn{
    cursor:pointer;box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);@include transition( 0.1s);
    &:hover:not([disabled]){box-shadow: 2px 4px 5px 0 rgba(0,0,0,.16),2px 4px 10px 0 rgba(0,0,0,.12);@include transition( 0.1s);}//transform: translate(-2px, -2px) scale(1.03);
    &.btn-static{transition:none!important;transform:none!important;box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;}
    &.btn-xs{padding: 0.2rem 0.5rem;font-size: 0.6rem;}
    

    &.btn-mello{background: $mello-interact; border-color: $mello-interact;color:#fff;}
    &.btn-ld{background: $ld-interact; border-color: $ld-interact;color:#fff;}

    &.btn-interact{color:#fff;@include gradient($ld-interact-lt,$ld-primary);border:1px solid $ld-primary; text-shadow: 1px 1px 2px rgba(0,0,0,.25);
        &:hover:not([disabled]){background:$ld-interact;border:1px solid $ld-interact;box-shadow: initial;text-shadow:none;}
    }
    &.btn-interact-outline{color:$ld-interact;background:#fff;border:1px solid $ld-interact;box-shadow: initial;
        &:hover:not([disabled]){color:#fff;@include gradient($ld-interact-lt,$ld-primary);border:1px solid $ld-primary;}
    }
    &.btn-interact-active{color:#fff;@include gradient($ld-interact-lt,$ld-primary);border:1px solid $ld-primary;}

    &.btn-interact-mello{color:#fff;@include gradient(#083053,#478cc6);border:1px solid $ld-interact;}

    &.btn-icon{
        color:#fff;@include gradient(#fffbf2, #ffc468);padding: 0.25rem .5rem;border:1px solid $ld-primary; text-shadow: 1px 1px 2px rgba(0,0,0,.25);
        &.btn-xs{padding: 0.1rem 0.3rem;font-size: 0.8rem;}
        .fa{}
        .fa-stack{width:auto;height:auto;line-height:initial;}
        .fa-stack-minus{
            .fa-minus-circle{font-size: 60%;left: auto;right: -1px; bottom: -1px; width: initial;text-shadow: 0px -1px 3px rgba(255, 255, 255, .75);}
        }
    }
    &.btn-icon-outline{
        background-color:#fff;color:$ld-interact;padding: 0.25rem .5rem;border:1px solid $ld-interact;
        
        &:hover:not([disabled]), &.active:hover:not([disabled]){color:#fff;@include gradient($ld-interact-lt,$ld-primary);border:1px solid $ld-primary;}
        &.btn-icon-outline-mello{ color:$mello-blue;border:1px solid $mello-blue;
            &:hover:not([disabled]), &.active:hover:not([disabled]){color:#fff;@include gradient($mello-blue,$mello-blue-dk);border:1px solid $mello-blue;}
        }
        &.btn-xs{padding: 0.1rem 0.3rem;font-size: 0.8rem;}
        &.btn-icon-outline-active{color:#fff;@include gradient($ld-interact-lt,$ld-primary);border:1px solid $ld-primary;}
        .fa-stack{width:auto;height:auto;line-height:initial;}
        .fa-stack-minus{
            .fa-minus-circle{font-size: 60%;left: auto;right: -1px; bottom: -1px; width: initial;text-shadow: 0px -1px 3px rgba(255, 255, 255, .75);}
        }
        &.active{background-image: linear-gradient(to top, #ad0000 0%, #ff4343 100%);color:#fff;border:1px solid red;}
    }


    &.btn-ld-primary{}
    &.btn-ld-primary-outline{}
    &.btn-ld-primary-inverse{}

    &.btn-waiting{
        .fa{display:none;}
        &:before{ font-family: FontAwesome;content: "\f110";animation: fa-spin 2s infinite linear;display:inline-block;position:relative;left:-5px;}
    }
    &.btn-waiting-after{
        .fa{display:none;}
        &:after{ font-family: FontAwesome;content: "\f110";animation: fa-spin 2s infinite linear;display:inline-block;position:relative;left:-5px;}
    }

    &[disabled]{
       color:dimgray;border-color:#a7a7a7;background: #ededed;
    }

    @include media-breakpoint-down(md){
        &.btn-full{display: block;width: 100%;}
    }

}

// Button Groups
.input-group .btn, .input-group .btn:hover{box-shadow:none;transform:none;}
