// Global branded styling. App specific styling should NOT go in this file
.card{
    .card-header{background: #f0f6fa;background-image: linear-gradient(to top, #fcfeff 0%, #cbdce6 100%);
        h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5{margin:0;}
        @include media-breakpoint-down(md){.btn{margin-top: .5rem;}}
    }

    &.card-mello{
        .card-header{}
        .card-block{}
        .card-footer{}
    }

}
.card + .card{margin-top:1rem;}
.no-pad .card-block{
    padding:0;
    .card-block{padding: 1.25rem;}
}
