.ngx-filter-inline{
    position:relative;top:25px;z-index:5;background-color: #f1f1f1;border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    th{padding: 5px 5px;}
}
//-webkit-user-select: initial!important;-moz-user-select: initial!important;-ms-user-select: initial!important;-o-user-select: initial!important;  user-select:initial!important;
.pos-relative{position:relative;}
.pos-fullscreen{position: absolute !important;height: auto !important;top: 0;left: 0;right: 0;bottom: 0;width: 100%;overflow: scroll;}
.ngx-datatable-scroll { overflow-y: scroll;}
.sticky-header .datatable-header{@extend .sticky;top:49px;transform: translateZ(0);}

.ngx-datatable {
    font-size: 0.85rem;background:white;
    &.scroll-vertical{padding-bottom:20px;}
    &.grouped .sort-btn:after{ color: $ld-grey !important; cursor: not-allowed !important;}
    .sticky-left{position:sticky;left:0px;background:white;}
    &.filter-inline .datatable-header { position: relative; z-index: 15; top: -38px; }
    
    .datatable-header { overflow: initial !important; height: auto !important;
        .datatable-row-left{border-right:1px solid #ccc;z-index: 16!important;background-color: $ld-grey-lt;}
        .datatable-header-inner { border-bottom: 1px solid rgba(0, 0, 0, 0.125);  background-color: $ld-grey-lt;width: 100%!important;
            .datatable-header-cell { visibility: visible; overflow: auto; overflow: initial !important; padding-left: .5rem; font-size: 0.85rem;position:relative;
                &.longpress{background-color: $ld-grey-lt;z-index:151;box-shadow: 3px 3px 10px rgba(0,0,0,0.5);cursor: -webkit-grabbing;cursor:grabbing;
                    .draggable{cursor: -webkit-grabbing;cursor:grabbing;}
                }
                .draggable{cursor: -webkit-grab;cursor:grab;}
                .column-btn { float: right; margin-right: 7px; color: $ld-interact; cursor: pointer;
                    .active { color: red; }
                    .disabled { color: $ld-grey !important; cursor: not-allowed !important; }
                    .dropdown-item-static { padding: 3px 0.75rem; }
                    .dropdown-toggle {
                        &:hover { color: $ld-primary-dk; }
                        &::after { display: none; }
                    }
                }
                &.sortable .sort-btn { float: right; margin-right: 7px; margin-top: 4px;
                    &:after { font-family: FontAwesome; content: "\f160"; display: inline; color: $ld-interact; }
                    &:hover:after { opacity: 1; color: $ld-primary-dk; }
                    &.sort-asc:after { font-family: FontAwesome; content: "\f160"; display: inline; opacity: 1; color: red; }
                    &.sort-desc:after { font-family: FontAwesome; content: "\f161"; display: inline; opacity: 1; color: red; }
                }

                .resize-handle { border-right: 1px solid $ld-interact; visibility: visible;
                    &:hover { border-right: 1px solid $ld-primary-dk; }
                }
            }
        }
        .datatable-row-center { z-index: 15; }
    }

    .datatable-body { margin-bottom: -5px;
        .datatable-scroll {width: 100%!important;}
        .datatable-body-cell {
            .datatable-body-cell2 { height: 100%;padding-left:6px;padding-right:6px;
                span {  display: block; }//height: 100%;
                &.can-edit .editable {
                    padding: 2px; 
                    &:hover { padding: 0px; border: 2px dashed rgba(0,0,0,.2); cursor: cell; }
                }
            }
            .datatable-icon {color: #c8cdd0; position: relative; text-decoration: none !important; font-weight: normal !important; font-style: normal !important;
                .fa {color: #c8cdd0;opacity:0.5;}
                &:hover, .collapse{ color: $ld-interact!important;opacity:1!important; }
                &.has-data ,&.has-data .fa { color: #599ad1;opacity:1; }
                &.has-new, &.has-new .fa { color: #d9534f;opacity:1; }
                &.disabled, &.disabled .fa {color: #c8cdd0;}
            }
            .no-row-styling{text-decoration: none !important; font-weight: normal !important; font-style: normal !important;}
            .callout{background-color: rgba(0,0,0,0.05);margin-bottom: 1px;position:relative;
                & > .fa, a{color: #599ad1;}
            }
            .drop-notification { position: absolute; bottom: 1px; right: -2px; font-size: 7px; background-color: #b9b9b9; }
            .expanded{
                .fa{display:none;}
                &:before { font-family: FontAwesome; margin-right: 5px; content: "\f068";text-decoration: none !important; font-weight: normal !important; font-style: normal !important;color:white;opacity:1; }
            }
            /**
            .datatable-icon-down:before { font-family: FontAwesome; margin-right: 5px; content: "\f147"; text-transform: initial; font-style: initial; }
            .datatable-icon-up:before { font-family: FontAwesome; margin-right: 5px; content: "\f196"; text-transform: initial; font-style: initial; }
            */
        }
        .datatable-row-wrapper {overflow:hidden;//position:initial!important; //Fixes issue with row grouping but breaks with manual refresh
       
            /**&:nth-child(even) { background-color: rgba(0,0,0,.03); }*/
                .datatable-row-left{z-index: 16!important;position:relative;background:white;
                    .frozen-left:after{display:block;content: "";background-image: url('/assets/img/datatable-pinned.png');background-position:top right;background-repeat:repeat-y;
                        position: absolute;right: -34px;width: 34px;z-index: 27;top: 0;bottom: 0;}
                }

                .datatable-body-row:hover, .datatable-row-detail:hover { background-color: #e8e8e8!important;
                    .datatable-row-left{ background-image: url('/assets/img/datatable-pinned-hover.png');}
                    .datatable-icon:not(.has-data,.has-new):before { opacity:1;color: #92a4af; }
                    .datatable-body-row, .datatable-droprow-templates{background-color:transparent;}
                }
            .datatable-body-row {  border-bottom: 1px solid #f2f2f2;//border-bottom-color: rgba(0, 0, 0, 0.125);
                &.active {position: relative; z-index: 6;background-color: #f3f3f3!important;
                &:only-child{border-bottom-width:1px;}
                & + .datatable-row-detail{border-top:0;}//Test
                    .datatable-icon, .datatable-icon .fa {}
                    .datatable-row-group{}
                }
                
                // Row styling for CONTENT only not droprow
                &.strong, .strong small { font-weight: 700; }
                &.italic .datatable-body-cell-label { font-style: italic; }
                &.strike .datatable-body-cell-label > *:not(a,.no-row-styling) { text-decoration: line-through; }
                .datatable-row-group{}
            }
            // Styling for droprow
            .datatable-row-detail {border-bottom: 1px solid rgba(0, 0, 0, 0.125); margin-top: -1px;
                /**
                &:before{display:block;position:absolute;top:0;bottom:0;left:0;right:0;z-index:5;box-shadow: 0 0 15px;content:" ";}
                */
                .datatable-droprow-templates{position:relative;z-index:6;padding:0.5rem;padding-top:0;}
                .datatable-droprow-styling{background:#fff;}
            }
            .datatable-group-header{width: 100%!important;background-color: #f1f1f1; border-bottom: 1px solid rgba(0, 0, 0, 0.125); 
            a{
                 padding:1rem;display:block;color:#000;text-decoration:none;
                 &:hover{text-decoration:none;}
                 &:before{font-family: FontAwesome; margin-right: 5px;text-transform: initial; font-style: initial;color:#ccc;}
                 &.datatable-icon-down:before{content: "\f078";}
                 &.datatable-icon-right:before {content: "\f054";}
            }
            }
        }
        .empty-row { padding: 1rem; }
    }
    //-webkit-user-select: initial !important; -moz-user-select: initial !important; -ms-user-select: initial !important; -o-user-select: initial !important; user-select: initial !important;
    .datatable-body-cell-label { word-break: break-word; height: 100%; }
    // Row styling for content AND droprow
    .row-red { background-color: #ffd7d7; }
    .row-green { background-color: #f2fff2; }
    .row-yellow { background-color: #ffffea; }
    .row-blue { background-color: #e9f2ff; }
    .datatable-checkbox{padding-top: 3px;text-align: center;}
    @include media-breakpoint-down(md) {
        &.datatable-sm { min-width: 640px; }
        &.datatable-lg { min-width: 1280px; }
    }
}
/** CSS for progress bar which is currently broken
.progress-linear { display: block; position: relative; width: 100%; height: 5px; padding: 0; margin: 0; position: absolute;
    .container { display: block; position: relative; overflow: hidden; width: 100%; height: 5px; -webkit-transform: translate(0,0) scale(1,1); transform: translate(0,0) scale(1,1); background-color: rgb(170,209,249);
        .bar { transition: all .2s linear; -webkit-animation: query .8s infinite cubic-bezier(.39,.575,.565,1); animation: query .8s infinite cubic-bezier(.39,.575,.565,1); transition: -webkit-transform .2s linear; transition: transform .2s linear; background-color: rgb(16,108,200); position: absolute; left: 0; top: 0; bottom: 0; width: 100%; height: 5px; }
    }
}
*/
