<div class="nts-form-field" [ngClass]="'nts-form-field-type-' + type">
  <div class="d-flex">
    <div style="flex-grow: 1;">
      <ng-container [ngSwitch]="fieldType">
        <!-- Generic (text field, number, phone number, etc) -->
        <ng-container *ngSwitchCase="'generic'">
          <ng-container *ngTemplateOutlet="generic"></ng-container>
        </ng-container>

        <!-- Autocomplete -->
        <ng-container *ngSwitchCase="'autoComplete'">
          <div class="autocomplete">
            <p-autoComplete
              [field]="optionIsObjectsArray ? optionLabel : null"
              [(ngModel)]="model"
              [suggestions]="autoCompleteSuggestions"
              (completeMethod)="autoCompleteFilterTerms($event)"
              (ngModelChange)="autoCompleteSelection($event)"
            ></p-autoComplete>
            <a class="cancel" (click)="model = null; formControl.patchValue(null)" *ngIf="formControl.value !== null" title="Remove selection"
              ><i class="fa fa-remove"></i
            ></a>
          </div>
        </ng-container>

        <!-- Button group -->
        <ng-container *ngSwitchCase="'buttonGroup'">
          <p-selectButton [options]="options" [formControl]="formControl"></p-selectButton>
        </ng-container>

        <!-- Toggle -->
        <ng-container *ngSwitchCase="'toggle'">
          <p-inputSwitch [formControl]="formControl"></p-inputSwitch>
        </ng-container>

        <!-- Textarea -->
        <ng-container *ngSwitchCase="'textarea'">
          <span
            class="ui-input-float d-flex align-items-stretch m-0"
            [ngClass]="{
              'ui-float-label': placeholderFloat,
              'mt-3': placeholderFloat && placeholder,
              'ui-focus': (formControl.value !== null && formControl.value !== '') || focused
            }"
          >
            <textarea pInputTextarea [name]="name" [id]="id" [rows]="rows" [formControl]="formControl"></textarea>
            <label for="float-input" *ngIf="placeholderFloat">{{ placeholder }}</label>
          </span>
        </ng-container>

        <!-- Select -->
        <ng-container *ngSwitchCase="'select'">
          <select class="ui-widget ui-dropdown ui-corner-all" [formControl]="formControl">
            <option [ngValue]="null" disabled>-- Please Select --</option>
            <ng-container *ngFor="let option of options">
              <option
                [ngValue]="option[optionValue]"
                *ngIf="option[optionValue] !== undefined && option[optionLabel] !== undefined; else optionsSelectStringArray"
              >
                {{ option[optionLabel] }}
              </option>
              <ng-template #optionsSelectStringArray>
                <option [ngValue]="option"> {{ option }} </option>
              </ng-template>
            </ng-container>
          </select>
        </ng-container>

        <!-- Dropdown -->
        <!--
            [optionLabel]="optionLabel"
            [dataKey]="optionValue"
        -->
        <ng-container *ngSwitchCase="'dropdown'">
          <div class="dropdown">
            <label class="dropdown-label">{{ placeholder }}</label>
            <p-dropdown
              [options]="optionsOutput"
              [name]="name"
              [id]="id"
              [formControl]="formControl"
              [showTransitionOptions]="'100ms'"
              [hideTransitionOptions]="'50ms'"
              (onChange)="onChangeDropdown($event)"
            ></p-dropdown>
          </div>
        </ng-container>

        <!--
          Not wired up yet, may want another control
        -->
        <ng-container *ngSwitchCase="'file'">
          <p-fileUpload name="myfile[]" url="./upload.php"></p-fileUpload>
        </ng-container>

        <ng-container *ngSwitchCase="'buttons'">
          <p *ngIf="placeholder" [innerHTML]="placeholder"></p>
          <div class="nts-button-group nts-button-group-count-{{ options?.length }}">
            <button
              *ngFor="let option of options"
              class="btn btn-primary nts-btn-{{ option.label | ntsSlug }} nts-btn-{{ option.value | ntsSlug }}"
              [ngClass]="{ 'btn-primary active': formControl.value === option.value, 'btn-outline-primary ': formControl.value !== option.value }"
              (click)="formControl.patchValue(option.value)"
            >
              <span class="nts-button-icon"></span>
              <span class="nts-button-label">{{ option.label }}</span>
            </button>
          </div>
        </ng-container>

        <!-- Checkboxes -->
        <ng-container *ngSwitchCase="'checkbox'">
          <div *ngFor="let option of options; let i = index">
            <p-checkbox
              *ngIf="isType.formArray(formControl); else notFormArray"
              [name]="name"
              [id]="id"
              [(ngModel)]="model"
              (onChange)="ngModelToFormArray()"
              [label]="option[optionLabel] !== undefined ? option[optionLabel] : option"
              [value]="option[optionValue] !== undefined ? option[optionValue] : option"
            ></p-checkbox>
            <ng-template #notFormArray>Checkbox formcontrol is not a form array</ng-template>
          </div>
        </ng-container>

        <!-- Behaves like checkboxes, looks like buttons -->
        <ng-container *ngSwitchCase="'checkboxButtons'">
          <p *ngIf="placeholder" [innerHTML]="placeholder"></p>
          <div *ngIf="isType.formArray(formControl); else notFormArray">
            <button
              *ngFor="let option of options; let i = index"
              [name]="name"
              [id]="id"
              class="btn btn-primary nts-btn-{{ option.label | ntsSlug }} nts-btn-{{ option.value | ntsSlug }}"
              [ngClass]="{ 'btn-primary active': formControl.value.includes(option.value), 'btn-outline-primary ': !formControl.value.includes(option.value) }"
              (click)="toggleInArray(option.value)"
            >
              <span class="nts-button-icon"></span>
              {{ option.label }}
            </button>
          </div>
          <ng-template #notFormArray>Checkbox formcontrol is not a form array</ng-template>
        </ng-container>

        <!-- Single checkbox that returns a boolean value -->
        <ng-container *ngSwitchCase="'checkboxBoolean'">
          <p-checkbox class="nts-checkbox-boolean" [binary]="true" [name]="name" [id]="id" [formControl]="formControl" [label]="placeholder"></p-checkbox>
        </ng-container>

        <!-- A button that has an active state and only returns a boolean value -->
        <ng-container *ngSwitchCase="'buttonToggle'">
          <button
            class="btn btn-primary"
            [ngClass]="{ 'btn-primary active': formControl.value === true, 'btn-outline-primary ': formControl.value !== true }"
            (click)="formControl.patchValue(formControl.value === true ? false : true)"
          >
            <span class="nts-button-icon"></span>
            {{ placeholder }}
          </button>
        </ng-container>

        <!-- Radio -->
        <ng-container *ngSwitchCase="'radio'">
          <p *ngIf="placeholder" [innerHTML]="placeholder"></p>
          <div *ngFor="let option of options">
            <p-radioButton
              [name]="name"
              [id]="id"
              [formControl]="formControl"
              [label]="option[optionLabel] !== undefined ? option[optionLabel] : option"
              [value]="option[optionValue] !== undefined ? option[optionValue] : option"
            ></p-radioButton>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <!-- Tooltip-->
    <div class="nts-form-field-tooltip" *ngIf="tooltip" [ngClass]="{ 'mt-3': placeholderFloat && placeholder }">
      <a [pTooltip]="tooltip" tooltipPosition="bottom"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
    </div>
  </div>

  <!-- Hint -->
  <div class="nts-form-field-hint" [innerHtml]="hint" *ngIf="hint"></div>

  <!-- Errors -->
  <div *ngIf="formControl?.invalid && formControl?.touched && formControl?.errors && showError" class="red pt-1 anim-fade-in">
    <div *ngIf="errorCustom && formControl?.errors?.required" [innerHtml]="errorCustom"></div>
    <div *ngIf="!errorCustom && formControl?.errors?.required" class="small">{{ placeholder || 'This field' }} is <strong>required</strong></div>

    <div *ngIf="formControl?.errors?.minlength" class="small">
      Please enter at least
      <strong>{{ formControl?.errors?.minlength?.requiredLength }}</strong>
      characters
    </div>
    <div *ngIf="formControl?.errors?.maxlength" class="small">
      Please enter less than
      <strong>{{ formControl?.errors?.maxlength?.requiredLength }}</strong>
      characters
    </div>
    <div *ngIf="formControl?.errors?.min" class="small">
      Please enter a number that is greater than
      <strong>{{ formControl?.errors?.min?.min }}</strong>
    </div>
    <div *ngIf="formControl?.errors?.max" class="small">
      Please enter a number that is less than
      <strong>{{ formControl?.errors?.max?.max }}</strong>
    </div>
    <div *ngIf="formControl?.errors?.email" class="small">Please enter a valid <strong>email address</strong></div>
  </div>
</div>

<!--
    Generic field types
  -->
<ng-template #generic>
  <div
    class="ui-inputgroup"
    [ngClass]="{
      'ui-inputgroup': prefix || suffix,
      'mt-3': placeholderFloat && placeholder
    }"
  >
    <span class="ui-inputgroup-addon" *ngIf="prefix"><span [innerHtml]="prefix"></span></span>
    <span
      class="ui-input-float d-flex align-items-stretch"
      [ngClass]="{
        'ui-float-label': placeholderFloat,
        'ui-float-label-suffix': !!prefix,
        'ui-focus': (formControl.value !== null && formControl.value !== '') || focused
      }"
    >
      <ng-container [ngSwitch]="type">
        <!-- Color picker-->
        <ng-container *ngSwitchCase="'colorpicker'">
          <div class="ui-inputgroup w-100">
            <input
              [name]="name"
              [id]="id"
              id="float-input"
              [type]="type"
              pInputText
              [placeholder]="!placeholderFloat ? placeholder : ''"
              [formControl]="formControl"
              (focus)="focused = true"
              (blur)="focused = false"
            />
            <span class="ui-inputgroup-addon p-0">
              <!-- Colorpicker errors out if ngModel isn't present -->
              <p-colorPicker [(ngModel)]="model" (onChange)="formControl.patchValue($event.value)"></p-colorPicker>
            </span>
          </div>
        </ng-container>

        <!-- Phone Number -->
        <ng-container *ngSwitchCase="'phoneNumber'">
          <!--
          {{formControl.value}}
          <input pInputText [formControl]="formControl" type="text"/>
          -->
          <p-inputMask
            #field
            [name]="name"
            [id]="id"
            class="w-100"
            mask="(999) 999-9999"
            [unmask]="unmask"
            [formControl]="formControl"
            [placeholder]="!placeholder ? '(___) ___-____' : placeholderFloat ? '' : placeholder"
            (onFocus)="focused = true; cursorPositionSet(field, 1)"
            (onBlur)="focused = false"
          ></p-inputMask>
        </ng-container>

        <!-- Currency -->
        <ng-container *ngSwitchCase="'currency'">
          <p-spinner
            [name]="name"
            [id]="id"
            class="w-100"
            [formatInput]="true"
            thosandSeparator=","
            decimalSeparator="."
            [attr.maxlength]="maxlength ? maxlength : null"
            [placeholder]="!placeholderFloat ? placeholder : ''"
            #currency
            [step]="0.01"
            [(ngModel)]="model"
            (onFocus)="focused = true"
            (onBlur)="focused = false"
            (ngModelChange)="currencyChange(currency)"
          ></p-spinner>
        </ng-container>

        <!-- SSN -->
        <ng-container *ngSwitchCase="'ssn'">
          <p-inputMask
            #field
            [name]="name"
            [id]="id"
            class="w-100"
            [unmask]="unmask"
            mask="999-99-9999"
            [placeholder]="!placeholder ? '___-__-____' : placeholderFloat ? '' : placeholder"
            [formControl]="formControl"
            (onFocus)="focused = true; cursorPositionSet(field, 0)"
            (onBlur)="focused = false"
          ></p-inputMask>
        </ng-container>

        <!-- Date -->
        <ng-container *ngSwitchCase="'date'">
          <div class="w-100">
            <div class="ui-inputgroup w-100" style="position: relative;">
              <p-inputMask
                #field
                [name]="name"
                [id]="id"
                class="w-100"
                mask="99/99/9999"
                placeholder="mm/dd/yyyy"
                slotChar="mm/dd/yyyy"
                [formControl]="formControl"
                (onFocus)="cursorPositionSet(field, 0)"
              ></p-inputMask>
              <span class="ui-inputgroup-addon">
                <p-calendar #date dateFormat="mm/dd/yyyy" [showIcon]="true" (onSelect)="dateChange(date)" [appendTo]="field"></p-calendar>
              </span>
            </div>
          </div>
        </ng-container>

        <!-- Native input types, IE text, email, number-->
        <ng-container *ngSwitchDefault>
          <input
            [name]="name"
            [id]="id"
            id="float-input"
            [type]="type"
            pInputText
            [placeholder]="!placeholderFloat ? placeholder : ''"
            [formControl]="formControl"
            [attr.max]="max ? max : null"
            [attr.min]="min ? min : null"
            [attr.maxlength]="maxlength ? maxlength : null"
            [attr.minlength]="minlength ? minlength : null"
          />
        </ng-container>
      </ng-container>

      <label for="float-input" *ngIf="placeholderFloat" [innerHtml]="placeholder"></label>
    </span>
    <span class="ui-inputgroup-addon" *ngIf="suffix" [innerHtml]="suffix"><span [innerHtml]="suffix"></span></span>
  </div>
</ng-template>

<!-- autoComplete
<ng-container *ngIf="type === 'autoComplete'">
  <ng-container *ngTemplateOutlet="autoComplete"></ng-container>
</ng-container>
-->

<!-- autoCompleteAddress
      <ng-container *ngIf="type === 'autoCompleteAddress'">
        <ng-container *ngTemplateOutlet="autoCompleteAddress"></ng-container>
      </ng-container>
-->
<!-- Button Group
<ng-container *ngIf="type === 'buttonGroup'">
  <ng-container *ngTemplateOutlet="buttonGroup"></ng-container>
</ng-container>
 -->

<!-- Toggles
<ng-container *ngIf="type === 'toggle'">
  <ng-container *ngTemplateOutlet="toggle"></ng-container>
</ng-container>
 -->

<!-- Icon Group
<ng-container *ngIf="type === 'iconGroup'">
  <ng-container *ngTemplateOutlet="iconGroup"></ng-container>
</ng-container>
-->

<!-- Error messages
  <div *ngIf="formControl?.invalid && formControl?.touched && formControl?.errors && showError" class="anim-fade-in text-center">
    <div *ngIf="errorCustom && formControl?.errors?.required" [innerHtml]="errorCustom"></div>
    <div *ngIf="!errorCustom && formControl?.errors?.required" class="small">
      {{ placeholder || 'This field' }} is <strong>required</strong>
    </div>
    <div *ngIf="formControl?.errors?.minlength" class="small">
      Minimum length is <strong>{{ formControl?.errors?.minlength?.requiredLength }} characters</strong>
    </div>
    <div *ngIf="formControl?.errors?.max" class="small">
      Maximum length is <strong>{{ formControl?.errors?.max?.max }} characters</strong>
    </div>
    <div *ngIf="formControl?.errors?.email" class="small">Please enter a valid <strong>email address</strong></div>
  </div>
  -->

<!--
      <ng-container
        *ngIf="
          [
            'text',
            'textarea',
            'email',
            'number',
            'numberAsString',
            'currency',
            'phoneNumber',
            'select',
            'date',
            'dateText',
            'ssn',
            'password'
          ].includes(type)
        "
      >
        <ng-container *ngTemplateOutlet="formField"></ng-container>
      </ng-container>
      <ng-container *ngIf="type === 'checkbox'">
        <ng-container *ngTemplateOutlet="checkbox"></ng-container>
      </ng-container>
      -->
