// Global branded styling. App specific styling should NOT go in this file

/***** Mello Brand Variables *****/
$mello-blue             : #5e9aca;
$mello-blue-dk          : #2f6491;

// Unique variables exclusively for user interaction components like <a> tags and buttons
$mello-interact         : #5e9aca;
$mello-interact-hover   : #5e9aca;
$mello-interact-active  : #5e9aca;

/***** LD Brand Variables *****/

$ld-purple              : #5C2D91;
$ld-purple-lt           : #ba89f1;
$ld-purple-dk           : #593280;

$ld-green               : #a4cd27;
$ld-green-lt            : rgb(165,205,57);
$ld-green-dk            : rgb(106,178,50);

$ld-grey                : #d4d3d3;
$ld-grey-lt             : #f1f1f1;
$ld-grey-dk             : #868686;

$cp-purple              : #5C2D91;
$cp-purple-lt           : #cfb5f7;
$cp-purple-dk           : #8661bf;

$cp-orange              : #f6ac38;
$cp-orange-lt           : #e8cfba;
$cp-orange-dk           : #c98f5e;

// Primary color palette
$ld-primary             : $cp-orange;
$ld-primary-lt          : $cp-orange-lt;
$ld-primary-dk          : $cp-orange-dk;

// Unique variables exclusively for user interaction components like <a> tags and buttons
$ld-interact            : #da861a;
$ld-interact-lt         : #ffecc9;
$ld-interact-hover      : $cp-orange-dk;
$ld-interact-active     : $cp-orange-dk;
