<div id="app-home" class="container-fluid" *ngIf="{ users: users$ | async, sidebarOpen : sidebarOpen$ | async } as route">

  <div class="card mb-3">
    <div class="card-header p-2">

      <div class="float-right">

        <app-counter class="mr-2"></app-counter>

        <button class="btn btn-sm btn-outline-primary mr-1 d-inline-block"
                title="Toggle multi-screen view"
                [ngClass]="{ 'enabled' : ui.select.multiScreen$ | async }"
                (click)="ui.multiScreenToggle()">
          <i aria-hidden="true" class="fa fa-external-link-square"></i>
        </button>

        <button class="btn btn-sm" (click)="sidebarToggle(route.sidebarOpen)" [ngClass]="route.sidebarOpen ? 'btn-danger' : 'btn-primary'">
          <i class="fa fa-user mr-1"></i>
          Toggle User Sidebar
        </button>
      </div>

      <button class="btn btn-outline-primary btn-sm mr-2" (click)="usersRefresh()" [disabled]="route?.users?.loading">
        <i class="fa fa-refresh"></i>
      </button>

      <!-- Filter datatable-->
      <form class="form-inline mr-3 d-inline-block">
        <label class="icon icon-filter" style="position:relative;">
          <input class="form-control form-control-sm filterSearch" type="text" name="filterGlobal" placeholder="Filter" [(ngModel)]="gridFilterTerm" (ngModelChange)="gridFilterGlobal($event)" />
          <a (click)="gridFilterTerm = null; gridFilterGlobal()" *ngIf="gridFilterTerm" style="position:absolute;right: 10px;top: 4px;"><i class="fa fa-remove"></i></a>
        </label>
      </form>

    </div>
  </div>

  <app-api-state [state]="route.users">

    <div class="alert alert-warning icon" *ngIf="!route?.users?.data?.length">No users found</div>

    <div class="row">
      <div class="col-12" [ngClass]="route.sidebarOpen ? 'col-md-8' : 'col-md-12' ">

        <div style="position:relative;" #gridContainer>
          <ag-grid-angular #grid
                           style="height:calc(100vh - 150px)"
                           class="ag-theme-balham"
                           [gridOptions]="gridOptions"
                           [rowData]="route.users.data"
                           [columnDefs]="columns"
                           [animateRows]="true"
                           [enableSorting]="true"
                           [enableFilter]="true"
                           [enableColResize]="true"
                           [enableRangeSelection]="true"
                           [rememberGroupStateWhenNewData]="true"
                           [groupUseEntireRow]="true"
                           [frameworkComponents]="gridComponents"
                           rowGroupPanelShow="onlyWhenGrouping"
                           rowSelection="multiple"
                           (selectionChanged)="gridSelectionChanged($event)"
                           (gridSizeChanged)="gridSizeChanged($event)"
                           (rowDataChanged)="gridRowDataChanged($event)"
                           (sortChanged)="gridStateChanged($event)"
                           (filterChanged)="gridStateChanged($event)"
                           (columnPinned)="gridStateChanged($event)"
                           (columnResized)="gridStateChanged($event)"
                           (columnMoved)="gridStateChanged($event)"
                           (columnRowGroupChanged)="gridStateChanged($event)"
                           (rowGroupOpened)="gridStateChanged($event)"
                           (firstDataRendered)="gridFirstDataRendered()"
                           (gridReady)="gridReady($event)">
          </ag-grid-angular>
          
          <ng-template #phone let-row >
            <a href="tel:{{ row?.phone | phoneNumber : true }}">{{ row?.phone | phoneNumber }}</a> 
          </ng-template>

        </div>
      </div>
      <div class="col-12 col-md-4" *ngIf="route.sidebarOpen">
        <a class="float-right" (click)="userStopEdit()" *ngIf="isEditing"><i class="fa fa-user-plus" aria-hidden="true"></i> Add New User</a>
        <h2 *ngIf="!isEditing"> <i class="fa fa-user-plus" aria-hidden="true"></i> Add User</h2>
        <h2 *ngIf="isEditing"><i class="fa fa-user" aria-hidden="true"></i> Updating User</h2>
        <hr />

        <form [formGroup]="formMain" novalidate (ngSubmit)="userSubmit()">

          <div class="form-group row">
            <label for="username" class="col col-12 col-md-3 col-form-label">Username<sup class="red">*</sup></label>
            <div class="col col-12 col-md-9">
              <input class="form-control" type="text" id="username" formControlName="username">
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col col-12 col-md-3 col-form-label">Name<sup class="red">*</sup></label>
            <div class="col col-12 col-md-9">
              <input class="form-control" type="text" id="name" formControlName="name">
            </div>
          </div>

          <div class="form-group row">
            <label for="website" class="col col-12 col-md-3 col-form-label">Website</label>
            <div class="col col-12 col-md-9">
              <input class="form-control" type="text" id="website" formControlName="website">
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col col-12 col-md-3 col-form-label">Email</label>
            <div class="col col-12 col-md-9">
              <input class="form-control" type="email" id="email" formControlName="email">
            </div>
          </div>

          <div class="form-group row">
            <label for="phone" class="col col-12 col-md-3 col-form-label">Phone</label>
            <div class="col col-12 col-md-9">
              <input class="form-control" type="text" id="phone" formControlName="phone">
            </div>
          </div>

          <button type="submit" class="btn btn-primary float-right" [disabled]="route?.users?.modifying || formMain.invalid" [ngClass]="{ 'btn-waiting' : route?.users?.modifying }">
            <ng-container *ngIf="!isEditing">
              <i class="fa fa-user-plus" aria-hidden="true"></i> Add User
            </ng-container>
            <ng-container *ngIf="isEditing">
              <i class="fa fa-user" aria-hidden="true"></i> Update User
            </ng-container>
          </button>

        </form>

      </div>
    </div>

  </app-api-state>


</div>

<!--    -->


