<div
  id="app-home"
  class="container-fluid"
  *ngIf="{ users: users$ | async, sidebarOpen: ui.select.toggle$('sidebar') | async, multiScreen: ui.select.toggle$('multiScreen') | async } as route"
>
  <mat-card class="mb-3 p-2">
    <div class="float-right">
      <app-counter class="mr-2"></app-counter>
    
      <button
        mat-stroked-button
        class="mr-2"
        title="Toggle multi-screen view"
        [ngClass]="route.multiScreen ? 'active' : null"
        (click)="ui.toggle('multiScreen', !route.multiScreen)"
      >
        <i aria-hidden="true" class="fa fa-external-link-square"></i>
      </button>

      <button
        mat-button
        class="mat-reverse"
        (click)="ui.toggle('sidebar', !route.sidebarOpen)"
        [ngClass]="route.sidebarOpen ? 'active' : null"
      >
        <i class="fa fa-user mr-1"></i> Toggle User Sidebar
      </button>
    </div>

    <button mat-button class="mat-reverse mr-2" (click)="usersRefresh()" [disabled]="route?.users?.loading">
      <i class="fa fa-refresh"></i>
    </button>

    <!-- Filter datatable -->
    <form class="form-inline mr-3 d-inline-block">
      <label class="icon icon-filter" style="position:relative;">
        <input
          class="form-control form-control-sm filterSearch"
          type="text"
          name="filterGlobal"
          placeholder="Filter"
          [(ngModel)]="gridFilterTerm"
        />
        <a (click)="gridFilterTerm = null" *ngIf="gridFilterTerm" style="position:absolute;right: 10px;top: 4px;">
          <i class="fa fa-remove"></i>
        </a>
      </label>
    </form>
  </mat-card>

  <app-api-state [state]="route.users">
    <div class="alert alert-warning icon" *ngIf="!route?.users?.data?.length">No users found</div>

    <div class="row">
      <div class="col-12" [ngClass]="route.sidebarOpen ? 'col-md-8' : 'col-md-12'">
        <app-grid
          style="height:calc(100vh - 150px)"
          class="ag-theme-balham"
          [gridOptions]="gridOptions"
          [gridState]="gridState"
          [gridFilterTerm]="gridFilterTerm"
          [rowData]="route.users.data"
          [columnDefs]="columns"
          [animateRows]="true"
          [enableSorting]="true"
          [enableFilter]="true"
          [enableColResize]="true"
          [enableRangeSelection]="true"
          [rememberGroupStateWhenNewData]="true"
          [groupUseEntireRow]="true"
          [getContextMenuItems]="gridContextMenu"
          [getMainMenuItems]="gridCustomLinks"
          rowGroupPanelShow="onlyWhenGrouping"
          rowSelection="multiple"
          (stateChange)="gridStateSave($event)"
          (rowsSelected)="rowsSelected($event)"
        >
          <!-- Custom templates, prop corresponds to column property -->
          <grid-column field="phone">
            <!--
              Header template (NOT CURRENTLY SUPPORTED YET)
                       <ng-template let-value="value" let-column="column" let-row="row" grid-header-template>
                         <i class="fa fa-phone" aria-hidden="true"></i> Phone Number
                       </ng-template>
            -->
            <!-- Cell template -->
            <ng-template let-value="value" let-column="column" let-row="row" grid-cell-template>
              <a href="tel:{{ value | phoneNumber : true }}">{{ value | phoneNumber }}</a>
            </ng-template>
          </grid-column>

          <!-- Custom templates, prop corresponds to column property -->
          <grid-column field="delete">
            <!-- Cell template -->
            <ng-template let-value="value" let-column="column" let-row="row" grid-cell-template>
              <button
                mat-button
                class="mat-reverse sm"
                appModalLaunch
                modal="ConfirmationModalComponent"
                size="lg"
                data="Are you sure you want to delete this user?"
                [dataAlt]="row.id"
                (success)="userDelete($event)"
              >
                <i class="fa fa-remove"></i> Delete
              </button>
            </ng-template>
          </grid-column>
        </app-grid>
      </div>
      <div class="col-12 col-md-4 anim-fade-in" *ngIf="route.sidebarOpen">
        <mat-card>
          <a class="float-right" (click)="userStopEdit()" *ngIf="isEditing"
            ><i class="fa fa-user-plus" aria-hidden="true"></i> Add New User
          </a>
          <h2 *ngIf="!isEditing"><i class="fa fa-user-plus" aria-hidden="true"></i> Add User</h2>
          <h2 *ngIf="isEditing"><i class="fa fa-user" aria-hidden="true"></i> Updating User</h2>
          <hr />

          <form [formGroup]="formMain" novalidate (ngSubmit)="userSubmit()">
            <app-form-field [formGroup]="formMain" controlName="username" placeholder="Username"></app-form-field>
            <app-form-field [formGroup]="formMain" controlName="name" placeholder="Name"></app-form-field>
            <app-form-field [formGroup]="formMain" controlName="website" placeholder="Website"></app-form-field>
            <app-form-field [formGroup]="formMain" controlName="email" placeholder="Email"></app-form-field>
            <app-form-field [formGroup]="formMain" controlName="phone" placeholder="Phone"></app-form-field>

            <div class="text-right">
              <button
                type="submit"
                mat-button
                class="mat-reverse"
                [disabled]="route?.users?.modifying || formMain.invalid"
                [ngClass]="{ 'mat-waiting': route?.users?.modifying }"
              >
                <ng-container *ngIf="!isEditing">
                  <i class="fa fa-user-plus" aria-hidden="true"></i> Add User
                </ng-container>
                <ng-container *ngIf="isEditing">
                  <i class="fa fa-user" aria-hidden="true"></i> Update User
                </ng-container>
              </button>
            </div>

          </form>
        </mat-card>
      </div>
    </div>
  </app-api-state>
</div>
