<p-panel [collapsed]="!panel.isOpen" class="anim-rotate-in">
    
    <p-header class="d-flex justify-content-between">
        <div>
            <h3 class="d-inline mb-0"><i class="fa fa-comments" aria-hidden="true"></i> {{ panel.name || 'Unknown Panel' }}</h3>
            <small *ngIf="panel.description">{{ panel.description }}</small>
        </div>
        <div class="ml-0" *ngIf="!panel.isOpen">
            <a class="edit" (click)="panelEdit.emit(panel.guid)"><i class="fa fa-plus"></i></a>
        </div>
    </p-header>

    <form [formGroup]="formGroup">
        <ng-container *ngFor="let content of panel.panelContents | map: toArray">
            <!-- New Line -->
            <br *ngIf="content.isNewLine" />

            <!-- Text/ HTML content-->
            <span *ngIf="content.text">
                {{ content.text }}
            </span>

            <ng-container *ngIf="dataFields && dataFields[content.dataFieldGuid]">
                <select 
                *ngIf="formGroup.controls[content.dataFieldName]; else noField"
                class="ui-corner-all ui-state-default ui-widget ui-state-filled"
                [formControlName]="content.dataFieldName"
                [required]="content.dataFieldRequired"
                (blur)="formChanged.emit()">
                    <option *ngFor="let option of dataFields[content.dataFieldGuid]" [value]="option.value">{{option.altText}}</option>
                </select>
            </ng-container>
            
            <!-- Form field for user data -->
            <ng-container *ngIf="content.dataFieldName && dataFields && !dataFields[content.dataFieldGuid] && !content.dataFieldIsRO && formGroup.controls[content.dataFieldName]">
                <input *ngIf="formGroup.controls[content.dataFieldName]; else noField"
                    type="text" pInputText
                    [formControlName]="content.dataFieldName"
                    [readonly]="content.dataFieldIsRO"
                    [required]="content.dataFieldRequired"
                    (blur)="formChanged.emit()" />
            </ng-container>
            <ng-template #noField><em><small>No field found for {{content.dataFieldName}}</small></em></ng-template>
            
            <!-- User data -->
            <span *ngIf="content.dataFieldName && content.dataFieldIsRO && formGroup.value[content.dataFieldName]">
                <strong> {{ formGroup?.value[content.dataFieldName] || 'Unknown'}}</strong>
            </span>
            
            <!-- Datafield -->
            <small *ngIf="content.dataFieldName">
                ( {{ content.dataFieldName || 'Unknown' }})
            </small>
              
        </ng-container>
    </form>

    <p-footer>
        <section class="d-flex justify-content-between">
            <section>
                <p-dropdown 
                    placeholder="Disposition" 
                    appendTo="body"
                    [options]="dispositions"
                    optionLabel="label"
                    (onChange)="disposition.emit($event.value)">
                </p-dropdown>
            </section>

            <section class="fld-row flg-3">
                <button *ngFor="let button of panel.panelButtons | map: toArray"
                        
                        pButton type="button"
                        class="ml-2"
                        [label]="button | map: toButtonText(dispositions)"
                        [class.ui-button-success]="button.isWarmTransferBtn || button.goToPanelIsPositive"
                        [class.ui-button-danger]="!(button.isWarmTransferBtn || button.goToPanelIsPositive)"
                        [icon]="button.goToPanelIsPositive && 'fa fa-thumbs-up'"
                        (click)="buttonClick.emit(button)"></button>
            </section>
        </section>
    </p-footer>
</p-panel>
