<div class="author"><strong>Author:</strong> Jerrol Krause</div>

<h1>SignalR</h1>
<p style="color: red">
  This service has been removed from the services lib since it requires a dependency that the other services do not
  need. This needs to be hoisted to it's own lib next time it is needed. The code is still available in the repo but is
  not exported
</p>
<p style="color: red">
  Also, this service uses an older verion of signalR and will need to be updated to the latest version next
  implementation.
</p>
<p>
  A front-end implementation of signalR which allows server code to send asynchronous notifications to client-side web
  applications.
</p>

<hr />

<p-tabView>
  <p-tabPanel header="Documentation">
    <div>
      <h2>Installation</h2>
      <pre>
                <code class="language-ts" [innerHtml]="exampleTSInstall"></code>
            </pre>
      <h2>Setup</h2>
      <pre>
                <code class="language-ts" [innerHtml]="exampleTS"></code>
            </pre>
    </div>
  </p-tabPanel>
  <!--
    <p-tabPanel header="Example">
        <div>
            <h2>Check the console and the JS tab in the Network Tab to see the script loading</h2>
        </div>
    </p-tabPanel>
    -->
  <!--
    <p-tabPanel header="API"> Coming soon! </p-tabPanel>
-->
</p-tabView>
