<div class="author"><strong>Author:</strong> Jerrol Krause</div>
<h1>Forms</h1>
<p>Coming soon!</p>


<p>
  <nts-text placeholder="Jerrol" label="First Name" [(ngModel)]="modelText"></nts-text>
  Value: {{modelText}}
</p>
<hr />
<p>
  <nts-number placeholder="18" label="Age" [(ngModel)]="modelNumber"></nts-number>
  Value: {{modelNumber}}
</p>
<hr />
<p>
  <nts-number placeholder="100.00" label="Decimal Places" [(ngModel)]="modelNumber2" [minFractionDigits]="2">
  </nts-number>
  Value: {{modelNumber2}}
</p>

<hr />

<p-tabView>
  <p-tabPanel header="Documentation">
    <div>
      <h2>Setup</h2>
      <p>Import</p>
      <pre>
        <code class="language-ts" [innerHtml]="exampleimport2"></code>
      </pre>
      <p>Html</p>
      <pre>
      <code class="language-html" [innerHtml]="exampleHTML"></code>
    </pre>
      <p>Typescript</p>
      <pre>
        <code class="language-ts" [innerHtml]="exampleTS"></code>
      </pre>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Example">

  </p-tabPanel>
  <!--
    <p-tabPanel header="API"> Coming soon! </p-tabPanel>
    -->
</p-tabView>