<div class="author"><strong>Author:</strong> Jerrol Krause</div>
<h1>Forms</h1>
<p>Coming soon!</p>
<form>
  <p>
    <nts-input placeholder="Jerrol" label="First Name" [control]="form?.get('modelText')"
      [control]="form?.get('modelText')"></nts-input>

    <nts-form-field placeholder="Jerrol" label="First Name"></nts-form-field>
    <!--
    <nts-input-text placeholder="Jerrol" label="First Name" formControlName="modelText"></nts-input-text> Value:
    {{modelText}}
    -->
  </p>
</form>
<hr />
<!--
<p>
  <nts-input-number placeholder="18" label="Age" [(ngModel)]="modelNumber"></nts-input-number> Value: {{modelNumber}}
</p>
<hr />
<p>
  <nts-input-number placeholder="100.00" label="Decimal Places" [(ngModel)]="modelNumber2" [minFractionDigits]="2">
  </nts-input-number>
  Value: {{modelNumber2}}
</p>
<hr />
<p>
  <nts-input-number placeholder="100.00" label="Suffix/Prefix" [(ngModel)]="modelNumber3"
    prefix="<span class='red'>$</span>" suffix=".00">
  </nts-input-number>
  Value: {{modelNumber3}}
</p>
<hr />
<p>
  <nts-input-currency placeholder="$100.00" [(ngModel)]="currency"> </nts-input-currency>
  Value: {{currency}}
</p>
<hr />
-->
<p-tabView>
  <p-tabPanel header="Documentation">
    <div>
      <h2>Setup</h2>
      <p>Import</p>
      <pre>
        <code class="language-ts" [innerHtml]="exampleimport2"></code>
      </pre>
      <p>Html</p>
      <pre>
      <code class="language-html" [innerHtml]="exampleHTML"></code>
    </pre>
      <p>Typescript</p>
      <pre>
        <code class="language-ts" [innerHtml]="exampleTS"></code>
      </pre>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Example">

  </p-tabPanel>
  <!--
    <p-tabPanel header="API"> Coming soon! </p-tabPanel>
    -->
</p-tabView>