<p-card styleClass="mb-3">
  <div class="d-flex align-items-center text-right">
    <a (click)="docReset()">Reset</a>
    <div class="d-flex ml-auto">
      <button class="nts-docs-tn-button mr-2" pButton icon="fa fa-hand-pointer-o" (click)="selectionChange(true)" title="Select All Documents"></button>
      <button class="nts-docs-tn-button mr-2" pButton icon="fa fa-remove" (click)="selectionChange(false)" title="Deselect All Documents"></button>

      <span class="mr-2">|</span>

      <button class="nts-docs-tn-button mr-2" pButton icon="fa fa-check-square" (click)="inclusionChange(false)" title="Set all documents to excluded"></button>
      <button class="nts-docs-tn-button mr-2" pButton icon="fa fa-square-o" (click)="inclusionChange(true)" title="Set all documents to included"></button>

      <span class="mr-2">|</span>

      <button class="nts-docs-tn-button mr-2" pButton icon="fa fa-undo" title="Rotate all documents left 90 degrees" (click)="rotateAll(990)"></button>
      <button class="nts-docs-tn-button mr-2" pButton icon="fa fa-repeat" title="Rotate all documents right 90 degrees" (click)="rotateAll(90)"></button>
      <span class="mr-2">|</span>
      <div class="btn-group">
        <button
          class="nts-docs-tn-button"
          pButton
          icon="fa fa-file-pdf-o"
          title="Rotate all documents right 90 degrees"
          *ngFor="let size of thumbnailSizes; let i = index"
          [ngClass]="[
            'nts-zoom-' + (i + 1),
            state?.tnSettings.width === size.width && state?.tnSettings.height === size.height ? 'nts-zoom-active' : 'nts-zoom-inactive'
          ]"
          [title]="'Zoom level ' + (i + 1)"
          (click)="zoomLevelChange(size)"
        ></button>
      </div>
    </div>
  </div>
</p-card>
