<div class="tag-add">
  <a class="float-right small" *ngIf="tagActive" (click)="tagActive = null"> <i class="fa fa-remove"></i> Cancel </a>
  <h3>
    <ng-container *ngIf="tagActive"> <i class="fa fa-gear"></i> Update Existing Tag </ng-container>
    <ng-container *ngIf="!tagActive"> <i class="fa fa-plus"></i> Add New Tag </ng-container>
  </h3>
  <nts-tags-quick [tag]="tagActive" (tagCreated)="tagCreated.emit($event)" (tagUpdated)="tagUpdated.emit($event)"></nts-tags-quick>
</div>

<div class="nts-tags">
  <table class="table top" *ngIf="tags?.length; else notags">
    <thead>
      <tr>
        <th>Tag</th>
        <!--
        <th>Hotkey</th>
        <th>Global</th>
        -->
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tag of tags; let i = index">
        <td>
          <div class="tag" [style.background]="tag.backgroundColor" [style.color]="tag.textColor">
            {{ tag.tagText }}
          </div>
        </td>
        <!--
        <td>
          <ng-container *ngIf="i < 10">
            {{ i + 1 }}
          </ng-container>
        </td>
        <td>
          <i class="fa fa-check" *ngIf="tag.globalTag"></i>
        </td>
        -->
        <td>
          <a (click)="tagEdit(tag)"><i class="fa fa-gear"></i> Edit</a>
        </td>
        <td>
          <a (click)="tagDelete(tag)"><i class="fa fa-remove"></i> Delete</a>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #notags>
    <div class="alert alert-info"><i class="fa fa-info-circle" aria-hidden="true"></i> No tags created, please create one below</div>
  </ng-template>
</div>
