<div class="datagrid-body-container" id="dataGridBody" #dataGridBody
	 [ngStyle]="{'height': gridProps.heightTotal + 'px'}"
	 [ngClass]="{ 'widthFixed' : gridProps.widthFixed }">

	<div class="datagrid-body" [ngStyle]="{'width' : gridProps.widthViewPort + 'px', 'height' : gridProps.heightBody + 'px' }">

		<ng-container *ngFor="let row of rows; let rowIndex = index; trackBy:trackRow;">

			<div class="datagrid-body-row" *ngIf="!row.$$hidden"
				 [style.top]="row.$$rowPosition + 'px'"
				 [ngClass]="{'selected': row.$$selected }">

				<!-- Group header. Treated as a row -->
				<group-header *ngIf="row.type == 'group' "
							  [group]="row"
							  [options]="options"
							  [width]="gridProps.widthTotal"
							  (onGroupToggled)="groupToggled($event)">
				</group-header>

				<!-- Normal Row -->
				<ng-container *ngIf="row.type != 'group' ">

					<!-- Pinned columns -->
					<div class="datagrid-body-pinned sticky-left" *ngIf="columnsPinnedLeft?.length"
						 [style.width]="gridProps.widthPinned + 'px'"
						 [ngStyle]="rowStyles[row[options.primaryKey]]"
						 (click)="onMouseEvent('click', row.$$rowIndex, $event)"
						 (dblclick)="onMouseEvent('dblclick', row.$$rowIndex, $event)"
						 (contextmenu)="onMouseEvent('contextmenu', row.$$rowIndex, $event)"
						 (mousedown)="onMouseEvent('mousedown', row.$$rowIndex, $event)"
						 (mouseup)="onMouseEvent('mouseup', row.$$rowIndex, $event)"
						 (mouseenter)="onMouseEvent('mouseenter', row.$$rowIndex, $event)">
						<datagrid-body-row [columns]="columnsPinnedLeft"
										   [row]="row"
										   [options]="options"
                       [templates]="templates"
										   (onRowUpdated)="rowUpdated($event, row.$$rowIndex)">
						</datagrid-body-row>
					</div>

					<!-- Non-pinned columns -->
					<div class="datagrid-body-main" style="display: inline-block"
						 [style.width]="gridProps.widthMain + 'px'"
						 [ngStyle]="rowStyles[row[options.primaryKey]]"
						 (click)="onMouseEvent('click', row.$$rowIndex, $event)"
						 (dblclick)="onMouseEvent('dblclick', row.$$rowIndex, $event)"
						 (contextmenu)="onMouseEvent('contextmenu', row.$$rowIndex, $event)"
						 (mousedown)="onMouseEvent('mousedown', row.$$rowIndex, $event)"
						 (mouseup)="onMouseEvent('mouseup', row.$$rowIndex, $event)"
						 (mouseenter)="onMouseEvent('mouseenter', row.$$rowIndex, $event)">
						<datagrid-body-row [columns]="columns"
										   [row]="row"
										   [options]="options"
                       [templates]="templates"
										   (onRowUpdated)="rowUpdated($event, row.$$rowIndex)">
						</datagrid-body-row>
					</div>

				</ng-container>

			</div>
		</ng-container>
	</div>
</div>
