<form [formGroup]="formGroup" *ngIf="formGroup && controlName" class="w-100">
  <mat-form-field [appearance]="appearance">
    <mat-label>{{ placeholder }}</mat-label>
    <ng-container *ngIf="status.dirty">
      <i
        class="fa fa-thumbs-up green field-icon anim-bounce-in"
        aria-hidden="true"
        *ngIf="!status.invalid && status.hasValue"
      ></i>
      <i class="fa fa-warning red field-icon anim-bounce-in" aria-hidden="true" *ngIf="status.invalid"></i>
    </ng-container>
    
    <!-- Text/input field -->
    <input matInput [formControlName]="controlName" [required]="required" *ngIf="type === 'text'" />

    <!-- Select field-->
    <mat-select
      [placeholder]="placeholder"
      *ngIf="type === 'select'"
      [formControlName]="controlName"
      [required]="required"
    >
      <mat-option value="" disabled="disabled"> -- Please Select -- </mat-option>
      <!--
      <mat-option *ngFor="let option of options" [value]="food.value"> {{ food.viewValue }} </mat-option>
      -->
    </mat-select>

    <mat-error *ngIf="status.invalid"> {{ placeholder }} is <strong>required</strong> </mat-error>
  </mat-form-field>
</form>
