<mat-form-field [appearance]="appearance">
  <mat-label>{{ placeholder }}</mat-label>
  <ng-container *ngIf="ngControl?.dirty">
    <i
      class="fa fa-thumbs-up green field-icon anim-bounce-in"
      aria-hidden="true"
      *ngIf="ngControl?.valid && ngControl?.value != null && ngControl?.value !== ''"
    ></i>
    <i class="fa fa-warning red field-icon anim-bounce-in" aria-hidden="true" *ngIf="ngControl?.invalid"></i>
  </ng-container>

  <!-- Text/input field -->
  <input matInput [required]="required" *ngIf="type === 'text'" [formControl]="ngControl?.control">

  <!-- Select field-->
  <mat-select [required]="required" [placeholder]="placeholder" *ngIf="type === 'select'" [formControl]="ngControl?.control">
    <mat-option value="" disabled="disabled"> -- Please Select -- </mat-option>
    <!--
    <mat-option *ngFor="let option of options" [value]="food.value"> {{ food.viewValue }} </mat-option>
    -->
  </mat-select>

  <mat-error *ngIf="ngControl?.invalid"> {{ placeholder }} is <strong>required</strong> </mat-error>
</mat-form-field>
