<ng-container *ngIf="state">
  <!-- Loading -->
  <div *ngIf="state.loading"><i class="fa fa-spinner fa-spin"></i> Loading...</div>

  <!-- Error -->
  <div class="alert alert-danger icon" *ngIf="state.error">
    {{ state?.error?.message || 'An error occured' }}
    <div>
      <hr class="my-2 mx-0" />
      <small>
        <a (click)="errorHide = !errorHide">
          <i class="fa fa-caret-right" aria-hidden="true" *ngIf="errorHide"></i>
          <i class="fa fa-caret-down" aria-hidden="true" *ngIf="!errorHide"></i>
          See error details
        </a>
      </small>
      <div class="pt-2" [ngbCollapse]="errorHide">
        <pre class="mb-0">{{ state.error | json }}</pre>
      </div>
    </div>
  </div>

  <!-- Content -->
  <ng-container *ngIf="!state?.loading">
    <ng-content></ng-content>
  </ng-container>

</ng-container>
