<ng-container *ngIf="state">
  <!-- Loading -->
  <div *ngIf="state.loading"><i class="fa fa-spinner fa-spin"></i> Loading...</div>

  <!-- Error -->
  <ng-container *ngIf="errorShow && (state.error || state.errorModifying)">
    <app-error [error]="(state.error || state.errorModifying) | json" [canClose]="false">
      {{ state?.error?.message || state?.errorModifying?.message }}
    </app-error>
  </ng-container>

  <!-- Content -->
  <ng-container *ngIf="!state?.loading && !state?.error"> <ng-content></ng-content> </ng-container>
</ng-container>
