@import '../../../../styles/globals';
/* Grid Container */
:host,
app-grid,
ag-grid-angular,
.gridContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* Ag Grid */
ag-grid-angular .ag-root-wrapper {
  .ag-header-cell-label {
    cursor: pointer;
  }
  .ag-column-drop-cell-button {
    cursor: pointer;
  }
  .ag-header-icon {
    opacity: 1 !important;
    color: $interact-primary;
  }
  .ag-column-hover .ag-header-icon {
    opacity: 1 !important;
  }
  .ag-icon {
    cursor: pointer;
    font-family: 'FontAwesome';
    text-align: center;
    color: $interact-primary;
    &.ag-icon-asc {
      background-image: none;
      &:before {
        content: '\f176';
      }
    }
    &.ag-icon-desc {
      background-image: none;
      &:before {
        content: '\f175';
      }
    }
    &.ag-icon-menu {
      background-image: none !important;
      &:before {
        content: '\f0c9';
      }
    }
    &.ag-icon-filter {
      background-image: none !important;
      &:before {
        content: '\f0b0';
      }
    }
    &.ag-icon-columns {
      background-image: none !important;
      &:before {
        content: '\f06e';
      }
    }
    &.ag-icon-pin {
      background-image: none !important;
      line-height: initial;
      &:before {
        content: '\f08d';
      }
    }
    &.ag-icon-group {
      background-image: none !important;
      line-height: 2rem;
      &:before {
        content: '\f0c0';
      }
    }
    &.ag-icon-copy {
      background-image: none !important;
      line-height: initial;
      &:before {
        content: '\f0c5';
      }
    }
  }
  .ag-icon-small-right {
    background-image: none !important;
    line-height: initial;
    font-family: 'FontAwesome';
    color: $interact-primary;
    &:before {
      content: '\f054';
    }
  }
  .ag-filter-body {
    padding: 4px;
  }
  .ag-filter-filter,
  .ag-filter-select,
  .ag-primary-cols-filter {
    // @extend .form-control;
    // @extend .form-control-sm;
    padding: 0rem 0.5rem;
    margin: 0;
    height: calc(1.3rem + 2px);
  }
  .ag-status-bar {
    background-color: #f5f7f7;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.54);
    .ag-status-bar-left {
      display: block;
      width: 100%;
    }
    .btn {
      padding: 0.05rem 0.5rem 0.1rem 0.5rem;
      background: #fff;
      span {
        color: #656565;
      }
      &:hover span {
        color: #fff;
      }
    }
  }
}
