<div class="nts-autocomplete">
  <p-autoComplete
    class="auto-complete"
    [field]="label"
    [dataKey]="dataKey"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    [suggestions]="termsFiltered"
    [forceSelection]="forceSelection"
    [size]="size"
    [dropdown]="dropdown"
    [minLength]="minLength"
    [appendTo]="'body'"
    (onBlur)="onBlur()"
    (onSelect)="onSelect($event)"
    (completeMethod)="filterTerms($event)"
  >
    <ng-template let-term pTemplate="item">
      {{ term && label && term[label] ? term[label] : term }}
    </ng-template>
  </p-autoComplete>
  <a class="nts-autocomplete-icon">
    <i class="fa fa-search" aria-hidden="true"></i>
  </a>
 
</div>
