<div class="nts-document-editor" *ngIf="{ documentsModel: documentsModel$ | async, viewModels: viewModels$ | async, state: state$ | async } as editor">
  <div class="nts-document-loading p-3" *ngIf="!editor?.state?.pdfs && (editor?.state?.loadingScript || editor?.state?.loadingPdf)">
    <p>
      <p-progressBar mode="indeterminate" class="mb-3"></p-progressBar>
    </p>
    <ng-container *ngIf="editor?.state?.loadingScript">
      Loading Document Editor...
    </ng-container>
    <ng-container *ngIf="editor?.state?.loadingPdf && !editor?.state?.loadingScript">
      Loading Pdf...
    </ng-container>
  </div>

  <div class="alert alert-danger p-3 m-3" *ngIf="editor?.state?.error">
    {{ editor?.state?.error }}
  </div>

  <div class="alert alert-info p-3 m-3" *ngIf="!editor?.state?.pdfs && !editor?.state?.loadingScript && !editor?.state?.loadingPdf && !editor?.state?.error">
    No documents available
  </div>

  <div *ngIf="editor?.state?.pdfs">
    <!--
          <app-toolbar [state]="editor.state" [thumbnailSizes]="thumbnailSizes"></app-toolbar>
          -->
    <!-- Tab View -->
    <ng-container [ngSwitch]="workflow">
      <!-- Multidoc management view-->
      <ng-container *ngSwitchCase="'multiDoc'">
        <app-multi-doc
          [documents]="editor?.documentsModel"
          [viewModels]="editor?.viewModels"
          [settings]="editor.state?.settings"
          [tnSettings]="editor.state?.tnSettings"
          [selection]="editor.state?.selection"
          [pageActive]="editor.state?.pageActive"
          [pdfSrcs]="editor.state?.pdfs"
          [pdfInfo]="editor.state?.pdfInfo"
          [rotation]="((editor?.documentsModel)[editor?.state?.pageActive?.pdfIndex]?.pages)[editor?.state?.pageActive?.pageIndex]?.rotation"
        ></app-multi-doc>
      </ng-container>

      <!-- Viewer Only -->
      <ng-container *ngSwitchCase="'display'">
        <app-display
          [document]="(editor?.documentsModel)[editor.state.docActive]"
          [viewerOptions]="viewerOptions"
          [viewModels]="editor?.viewModels"
          [settings]="editor.state?.settings"
          [tnSettings]="editor.state?.tnSettings"
          [selection]="editor.state?.selection"
          [pageActive]="editor.state?.pageActive"
          [pdfSrcs]="editor.state?.pdfs"
          [pdfInfo]="editor.state?.pdfInfo"
          [rotation]="((editor?.documentsModel)[editor?.state?.pageActive?.pdfIndex]?.pages)[editor?.state?.pageActive?.pageIndex]?.rotation"
        ></app-display>
        <!--
        <app-viewer
          [pdfSrcs]="editor.state?.pdfs"
          [pageActive]="editor.state?.pageActive"
          [viewerOptions]="viewerOptions"
          [document]="editor?.documentsModel[editor.state.docActive]"
          [rotation]="
            ((editor?.documentsModel)[editor?.state?.pageActive?.pdfIndex]?.pages)[editor?.state?.pageActive?.pageIndex]
              ?.rotation
          "
        ></app-viewer>
        -->
      </ng-container>

      <!-- Default View -->
      <ng-container *ngSwitchDefault>
        <app-default
          [documents]="editor?.documentsModel"
          [viewModels]="editor?.viewModels"
          [settings]="editor.state?.settings"
          [tnSettings]="editor.state?.tnSettings"
          [selection]="editor.state?.selection"
          [pageActive]="editor.state?.pageActive"
          [pdfSrcs]="editor.state?.pdfs"
          [pdfInfo]="editor.state?.pdfInfo"
          [rotation]="((editor?.documentsModel)[editor?.state?.pageActive?.pdfIndex]?.pages)[editor?.state?.pageActive?.pageIndex]?.rotation"
        ></app-default>
      </ng-container>
    </ng-container>
  </div>
</div>
