.nts-document-editor {
  .ui-card {
    background-color: #fafafa;
  }
  .ui-card-body {
    padding: 5px 10px;
  }
  .card-tns {
    &.ui-card {
      background-color: #f6f6f6;
    }
    .ui-card-body {
      padding: 1em 5px 5px 5px;
    }
  }
  .nts-docs-tns {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
  }
  .nts-zoom-1 {
    .fa {
      transform: scale(0.8);
    }
    .nts-docs-tn .nts-docs-tn-button {
      font-size: 8px;
    }
  }
  .nts-zoom-2 .fa {
    transform: scale(1);
  }
  .nts-zoom-3 .fa {
    transform: scale(1.2);
  }
  .nts-zoom-4 .fa {
    transform: scale(1.4);
  }

  .multi-doc {
    .ui-tabview-nav {
      position: relative;
    }
    .ui-tabview-nav li:last-child {
      position: absolute;
      right: 0;
    }
  }
}
