<div class="nts-state" [ngClass]="{ 'nts-state-spacer': !(stateSrc?.loading && stateSrc?.data) }">
  <!-- Loading, no data -->
  <ng-container *ngIf="!stateSrc || (showLoading && stateSrc?.loading && !stateSrc?.data)">
    <p-progressBar mode="indeterminate" [style]="{ height: '12px' }"></p-progressBar>
  </ng-container>

  <!-- Loading with data OR modifying -->
  <ng-container *ngIf="(showLoading && stateSrc?.loading && stateSrc?.data) || (showModifying && stateSrc?.modifying)">
    <p-progressBar mode="indeterminate" [style]="{ height: '2px' }"></p-progressBar>
  </ng-container>

  <!-- Loading error -->
  <ng-container *ngIf="showLoading && stateSrc?.error">
    <nts-error [error]="stateSrc?.error" [canClose]="false"></nts-error>
  </ng-container>

  <!-- Modifying error -->
  <ng-container *ngIf="showModifying && stateSrc?.errorModify && !stateSrc?.error">
    <nts-error [error]="stateSrc?.errorModify" [canClose]="false"></nts-error>
  </ng-container>

  <!-- 
    Always show content if data prop is not null
  -->
  <ng-container *ngIf="stateSrc?.data">
    <ng-content></ng-content>
  </ng-container>
</div>
