<h1>Wizard</h1>
<p>Description</p>
<hr />

<p-tabView>
  <p-tabPanel header="Documentation">
    <h2>Install</h2>
    <pre>
        <code class="language-ts" [innerHtml]="install"></code>
    </pre>

    <h2>Import</h2>
    <pre>
        <code class="language-ts" [innerHtml]="import"></code>
    </pre>
    <pre>
        <code class="language-ts" [innerHtml]="import2"></code>
    </pre>

    <h2>Usage</h2>
    <pre>
        <code class="language-html" [innerHtml]="usage"></code>
    </pre>
  </p-tabPanel>
  <p-tabPanel header="Demo/Example">
    <!--

    (ready)="ready($event)"
    (routeChanged)="routeChanged()"
    (complete)="complete = true"
    -->
    <!--
    <nts-wizard [settings]="settings" [form]="formGroup" [dataFields]="{}" [sections]="[]" [pages]="[]" [routes]="[]"> </nts-wizard>
  -->
  </p-tabPanel>
  <p-tabPanel header="API"> Content 3 </p-tabPanel>
</p-tabView>
