<div class="modal-header">
  <h3 class="modal-title"><i class="fa fa-comments-o" aria-hidden="true"></i> Send Feedback</h3>
  <button type="button" class="close" aria-label="Close" mat-dialog-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" id="modal-body">
  <p>Found a bug or would like to request a new feature? Let us know!</p>
  <form>
    <mat-form-field appearance="outline">
      <textarea matInput placeholder="Leave a comment" rows="4"></textarea>
    </mat-form-field>
  </form>
</div>

<div class="modal-footer" style="justify-content: space-between;">
  <button type="button" mat-button class="float-left pull-left dismiss" mat-dialog-close>
    <i class="fa fa-remove" aria-hidden="true"></i> Close
  </button>
  <button
  type="button"
  mat-button
  class="mat-reverse"
  (click)="submit()"
  aria-label="Close">
  <i class="fa fa-comments-o" aria-hidden="true"></i> Send feedback
</button>
</div>
