<div style="position:relative;">
  <!--
    Horizontal Stepper
  -->
  <ng-container *ngIf="(isHorizontal$ | async); else: vertical">
    <!-- Progress bar that sits under the stepper -->
    <div id="mat-stepper-progress-bar" [ngStyle]="{ width: selectedIndexWidths[selectedIndex] + 'px' }"></div>

    <mat-horizontal-stepper
      [linear]="false"
      #stepper
      class="anim-rotate-in"
      [selectedIndex]="selectedIndex"
      [ngClass]="'mat-step-' + selectedIndex"
      (selectionChange)="selectionChange($event)"
    >
      <!-- Icon for editing current section -->
      <ng-template matStepperIcon="edit"> <i class="fa fa-edit" aria-hidden="true"></i> </ng-template>
      <!-- Icon for sections with incomplete requests -->
      <ng-template matStepperIcon="incomplete"> <i class="fa fa-warning" aria-hidden="true"></i> </ng-template>
      <!-- Icon for completed sections -->
      <ng-template matStepperIcon="done"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> </ng-template>

      <!--
        [stepControl]="formMain.get('userName')"
        [state]="route.sectionsValid.section1 ? 'done' : 'incomplete'" [completed]="route.sectionsValid.section1"
      -->
      <mat-step *ngFor="let step of stepTemplates">
          <ng-template matStepLabel> 
              <ng-container *ngTemplateOutlet="step.label"></ng-container> 
            </ng-template>
            <ng-container *ngTemplateOutlet="step.body"></ng-container>
      </mat-step>
    </mat-horizontal-stepper>
  </ng-container>

  <!--
    Vertical Stepper
  -->
  <ng-template #vertical>
    <mat-vertical-stepper
      [linear]="false"
      #stepper
      class="anim-rotate-in"
      [selectedIndex]="selectedIndex"
      [ngClass]="'mat-step-' + selectedIndex"
      (selectionChange)="selectionChange($event)"
    >
      <!-- Icon for editing current section -->
      <ng-template matStepperIcon="edit"> <i class="fa fa-edit" aria-hidden="true"></i> </ng-template>
      <!-- Icon for sections with incomplete requests -->
      <ng-template matStepperIcon="incomplete"> <i class="fa fa-warning" aria-hidden="true"></i> </ng-template>
      <!-- Icon for completed sections -->
      <ng-template matStepperIcon="done"> <i class="fa fa-thumbs-up" aria-hidden="true"></i> </ng-template>

      <!--
        [stepControl]="formMain.get('userName')"
        [state]="route.sectionsValid.section1 ? 'done' : 'incomplete'" [completed]="route.sectionsValid.section1"
      -->
      <mat-step *ngFor="let step of stepTemplates">
        <ng-template matStepLabel> 
          <ng-container *ngTemplateOutlet="step.label"></ng-container> 
        </ng-template>
        <ng-container *ngTemplateOutlet="step.body"></ng-container>
      </mat-step>

    </mat-vertical-stepper>
  </ng-template>
</div>