<form>
    <mat-form-field>
      <a class="autocomplete-remove" (click)="clearSelected()" *ngIf="autoCompleteControl.value && autoCompleteControl.value !== '' ">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </a>
      <input type="text" [placeholder]="placeholder" matInput [formControl]="autoCompleteControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="labelDisplay.bind(this)" (optionSelected)="selectedOption($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option[this.termLabel] || option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
