<div class="ui-container-fluid">
  <p-table #tt [value]="rows" [columns]="columns" sortMode="single">
    <!-- Global filter-->
    <ng-template pTemplate="caption">
      <div class="d-flex">
        <div class="pt-2">Automobile Index</div>
        <div class="ui-filter ml-auto">
          <i class="fa fa-search mr-2" style="margin:4px 4px 0 0"></i>
          <input
            #filter
            type="text"
            pInputText
            size="50"
            placeholder="Global Filter"
            (input)="tt.filterGlobal($event.target.value, 'contains')"
            style="width:auto"
          />
          <a
            class="filter-clear"
            (click)="tt.filterGlobal(null, 'contains'); filter.value = null"
            *ngIf="filter.value"
            ><i class="fa fa-remove"></i
          ></a>
        </div>
      </div>
    </ng-template>
    <!-- Table Headers -->
    <ng-template pTemplate="header" let-columns>
      <tr style="height:30px">
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <!-- Table Body -->
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <!-- Loop through columns -->
        <td *ngFor="let col of columns">
          <!-- Custom cell templates -->
          <ng-container [ngSwitch]="col.field">
            <ng-container *ngSwitchCase="'brand'">
              <a>
                <i class="fa fa-car" aria-hidden="true"></i>
                {{ rowData[col.field] }}</a
              >
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ rowData[col.field] }}
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
    <!-- Empty messages-->
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">
          No rows found
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
