<div class="author"><strong>Author:</strong>Warren Dugan</div>
<h1>Schematics [WIP]</h1>
<p>Using Ntersol's custom schematics</p>
<hr />

<p-tabView>
  <p-tabPanel header="Documentation">
    <div>
      <h2>Setup</h2>
      <pre>
                <code class="language-ts" [innerHtml]="setupTS"></code>
            </pre>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Example">
    <div>
      <img src="assets/img/ntersol-schematics.png" alt="Ntersol Schematics Screenshot" width="500" />
    </div>
  </p-tabPanel>
</p-tabView>
