.nts-table {
  .ui-table {
    border: 0;
    .ui-table-wrapper {
      border: 1px solid #e3e3e3;
      border-bottom: 0;
    }
    .ui-table-caption {
      border: 0;
      background: transparent;
      padding-left: 0;
      padding-right: 0;
    }
    .ui-table-tbody > tr > td,
    .ui-table-thead > tr > th {
      border: 0;
      border-bottom: 1px solid #e3e3e3;
    }
    .nts-table-no-content {
      border-bottom: 0 !important;
    }
  }
}
