<div class="author"><strong>Author:</strong>Warren Dugan</div>
<h1>Dialog Demo Page [WIP]</h1>
<p>Demonstration of dialog component using auxiliary routing</p>
<hr />

<p-tabView>
    <p-tabPanel header="Documentation">
        <div>
            <h2>Setup</h2>
            <pre>
                <code class="language-ts" [innerHtml]="rootRouterTS"></code>
                <code class="language-html" [innerHtml]="highlight.htmlEncode(namedOutletHTML)"></code>
            </pre>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Example">
        <pre>
            <code class="language-html" [innerHtml]="highlight.htmlEncode(usageHTML)"></code>
        </pre>
        <a class="p-link" [routerLink]="['', { outlets: { dialog: 'open' } }]">Open Dialog Route</a>
    </p-tabPanel>
</p-tabView>