<div class="py-1"  *ngIf="gridState?.sorts?.length || gridGroups?.length || gridFilters?.length">

  <!-- Clear all button -->
  <button class="btn btn-xs btn-outline-primary btn-grid-sort float-right" title="Remove all" (click)="reset()">
    <span class="mr-1">Clear All</span>
    <i class="fa fa-remove"></i>
  </button>

  <!-- Sort Option -->
  <div class="d-inline-block mr-2" *ngIf="gridState?.sorts?.length">
    <span class="mr-1">Sorted By:</span>
    <button class="btn btn-xs btn-outline-primary btn-grid-sort mr-2" title="Remove sorting" (click)="removeSort()">
      <span class="mr-1">{{ gridState.sorts[0].colId  | textCase }}, {{ gridState.sorts[0].sort | textCase }}</span>
      <i class="fa fa-remove"></i>
    </button>
  </div>

  <!-- Groups Option -->
  <ng-container *ngIf="gridGroups?.length">
    <div class="d-inline-block mr-2">
      <span class="mr-1">Grouped By:</span>
      <button class="btn btn-xs btn-outline-primary btn-grid-sort mr-2" title="Remove this group" *ngFor="let group of gridGroups" (click)="removeGroup(group.colId)">
        <span class="mr-1">{{ group.colId | textCase }}</span>
        <i class="fa fa-remove"></i>
      </button>
    </div>
  </ng-container>

  <!-- Filters Option -->
  <ng-container *ngIf="gridFilters?.length">
    <div class="d-inline-block mr-2">
      <span class="mr-1">Filtered By:</span>
      <button class="btn btn-xs btn-outline-primary btn-grid-sort mr-2" title="Remove this filter" *ngFor="let filter of gridFilters" (click)="removeFilter(filter.field)">
        <span class="mr-1">{{ filter.field | textCase }} {{ filter.type }} "{{ filter.filter }}" </span>
        <i class="fa fa-remove"></i>
      </button>
    </div>
  </ng-container>


</div>
