<button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbar-main" aria-expanded="false"
  aria-label="Toggle navigation" (click)="isOpen = !isOpen">
  <i class="fa fa-bars" aria-hidden="true"></i>
</button>

<div class="navbar-collapse" id="navbar-main" [ngClass]="{'collapse open': isOpen }">
  <div class="navbar-mobile">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-tachometer mr-1" aria-hidden="true"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/monolith" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="fa fa-cubes mr-1" aria-hidden="true"></i> Monolith
        </a>
      </li>
    </ul>

    <!-- Mobile only utility nav from dropdown in appMenu -->
    <ul class="navbar-nav mr-auto d-block d-lg-none nav-mobile-only">
      <li class="nav-item">
        <a class="nav-link" (click)="logOut()">
          <i class="fa fa-power-off" aria-hidden="true"></i> Sign Out
        </a>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0">
      <!-- App update notification via service worker -->
      <ng-container *ngIf="hasSW && hasUpdate$ | async as hasUpdate">
        <a class="badge badge-warning mr-3" (click)="updateApp()" style="color:#fff;">
          <i class="fa fa-warning"></i> Update Available
        </a>
      </ng-container>

      <a [matMenuTriggerFor]="appMenu">
        <i class="fa fa-user mr-1"></i>
        <span class="mr-1">{{ userName }}</span>
        <i class="fa fa-caret-down mr-1"></i>
      </a>
      <mat-menu #appMenu="matMenu" xPosition="after">
        <button mat-menu-item (click)="logOut()">
          <i class="fa fa-power-off" aria-hidden="true"></i> Sign Out
        </button>
      </mat-menu>

    </div>
  </div>
  <div class="nav-mobile-bg" (click)="isOpen = !isOpen"></div>
</div>