@import '../../../../styles/globals/variables';

.nav-mobile-only {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}

#navbar-main {
  .navbar-nav > .nav-item .nav-link,
  .form-inline > a:not([href]):not([tabindex]) {
    color: #8f9daf;
    font-size: 0.75rem;
    font-weight: bold;
    padding-bottom: 0.75rem;
    padding-top: 0.9rem;
    &.active {
      border-bottom: 2px solid $interact-primary;
      .fa {
        color: $interact-primary;
      }
    }
  }
  #navbar-main .link {
    color: #8f9daf;
  }
  .navbar-toggler {
    color: #8f9daf;
    font-size: 1.1rem;
    top: 0.75rem;
  }
}

@media (min-width: 1024px) {
  .nav-component {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
  }
  .navbar-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .nav-component {
    flex-direction: initial;
    .collapse {
      display: block;
    }
    .navbar-mobile {
      position: fixed;
      background: white;
      left: -80%;
      top: 0px;
      bottom: 0px;
      width: 80%;
      z-index: 999;
      display: block;
      transition: 0.3s ease-out;
      padding: 1rem 0;
      overflow-y: auto;
      will-change: transform;
      backface-visibility: hidden;
    }
    .nav-mobile-bg {
      position: relative;
      left: 0px;
      top: 0px;
      bottom: 0px;
      right: 0px;
      background-color: rgba(0, 0, 0, 0.3);
      cursor: pointer;
      opacity: 0;
      transition: 0.3s ease-out;
    }

    .open {
      .nav-item a.nav-link {
        color: #000;
        display: block;
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .navbar-mobile {
        left: 0px;
        transition: 0.3s ease-out;
        box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.5);
      }
      .nav-mobile-bg {
        position: fixed;
        z-index: 998;
        opacity: 1;
        transition: 0.3s ease-out;
      }
      .nav-link.mat-menu-item {
        line-height: initial;
        height: initial;
        font-family: sans-serif;
      }
    }

    .navbar-nav .nav-link.active {
      background-color: #f7f7f9;
    }
    a.logout {
      display: block;
    }
    .dropdown {
      border-top: 1px solid #ccc;
      display: block;
      width: 100%;
    }
    .dropdown-toggle {
      display: none;
    }
    .dropdown-menu {
      display: block;
      border: 0;
      float: none;
      float: none;
      position: initial;
      width: 100%;
    }

    &.navbar-inverse .nav-link,
    &.navbar-inverse .nav-link.active,
    .dropdown-item {
      color: black;
      padding: 0.5rem 1rem;
      &:hover {
        color: black;
        background-color: #f7f7f9;
      }
      &:active {
        background-color: #e7e7e7;
      }
    }
    .nav-link.active {
      border: 0 !important;
    }
  }
}
