<!--
<p-card styleClass="mb-3">
  <div class="d-flex align-items-center text-right">
    <div></div>
    <div class="d-flex ml-auto">
      <button
        class="nts-docs-tn-button mr-2"
        pButton
        icon="fa fa-minus"
        title="Rotate all documents left 90 degrees"
      ></button>
      <button
        class="nts-docs-tn-button mr-2"
        pButton
        icon="fa fa-plus"
        title="Rotate all documents right 90 degrees"
      ></button>
      <span class="mr-2 pt-1">|</span>
      <select id="scaleSelect" title="Zoom" tabindex="23" data-l10n-id="zoom" style="min-width: 144px;">
        <option id="pageAutoOption" title="" value="auto" selected="selected" data-l10n-id="page_scale_auto"
          >Automatic Zoom</option
        >
        <option id="pageActualOption" title="" value="page-actual" data-l10n-id="page_scale_actual">Actual Size</option>
        <option id="pageFitOption" title="" value="page-fit" data-l10n-id="page_scale_fit">Page Fit</option>
        <option id="pageWidthOption" title="" value="page-width" data-l10n-id="page_scale_width">Page Width</option>
        <option title="" value="0.5">50%</option>
        <option title="" value="0.75">75%</option>
        <option title="" value="1">100%</option>
        <option title="" value="1.25">125%</option>
        <option title="" value="1.5">150%</option>
        <option title="" value="2">200%</option>
        <option title="" value="3">300%</option>
        <option title="" value="4">400%</option>
      </select>
    </div>
  </div>
</p-card>
-->
<p-card>
  <div id="nts-doc-viewer" class="p-2 text-center">
    <div class="nts-doc-viewer-card" #container  [ngStyle]="{ transform: 'rotate(' + rotation + 'deg)' }">
      <canvas #viewer style="display:block;width:100%;"></canvas>
    </div>
  </div>
</p-card>
