.ngx-contextmenu{
    a{color:$ld-interact;}
    .dropdown-menu{display:none;}
    .dropdown-item{position:relative;
        &:hover .dropdown-menu{display:block;}
        .dropdown-menu-link:after{font-family: 'FontAwesome';position: absolute;right: 8px;content: "\f054";top: 50%;transform: translateY(-50%); }
    }
    .dropdown-menu{display:none;position: absolute;left: 100%;top: -100%;background-color:#fff;}
    &:first-child{background:red;}
}
