.icons-context{
    display:inline-block;width:32px;height:32px;background: url(/assets/img/icons-context-lg.png) no-repeat 0px 0px;
    &.icons-context-none{background-image:none;}
    &.icons-context-copy{@include sprite(0,32);}
    &.icons-context-font{@include sprite(1,32);}
    &.icons-context-flag-yellow{@include sprite(2,32);}
    &.icons-context-flag-red{@include sprite(3,32);}
    &.icons-context-flag-blue{@include sprite(4,32);}
    &.icons-context-highlight-yellow{@include sprite(5,32);}
    &.icons-context-highlight-red{@include sprite(6,32);}
    &.icons-context-highlight-blue{@include sprite(7,32);}
    &.icons-context-highlight-green{@include sprite(8,32);}
}

.icons-app{
    display:inline-block;width:16px;height:16px;background: url(/assets/img/icons-main-sm.png) no-repeat 0px 0px;position: relative;top: 2px;
    &.icons-app-none{background-image:none;}
    &.icons-app-colors_delete{@include sprite(0,16);}
    &.icons-app-condition_add{@include sprite(1,16);}
    &.icons-app-conditions_delete{@include sprite(2,16);}
    &.icons-app-excel_filters_off{@include sprite(3,16);}
    &.icons-app-excel_filters_on{@include sprite(4,16);}
    &.icons-app-eye_blue{@include sprite(5,16);}
    &.icons-app-filter_delete{@include sprite(6,16);}
    &.icons-app-font_delete{@include sprite(7,16);}
    &.icons-app-information{@include sprite(8,16);}
    &.icons-app-loan_info{@include sprite(9,16);}
    &.icons-app-mail_add{@include sprite(10,16);}
    &.icons-app-mail_delete{@include sprite(11,16);}
    &.icons-app-mail_opened{@include sprite(12,16);}
    &.icons-app-mail_view{@include sprite(13,16);}
    &.icons-app-mail_yellow{@include sprite(14,16);}
    &.icons-app-pdf{@include sprite(15,16);}
    &.icons-app-role_filter{@include sprite(16,16);}
    &.icons-app-role_filter_delete{@include sprite(17,16);}
    &.icons-app-signal_flag_blue_delete{@include sprite(18,16);}
    &.icons-app-signal_flag_red_delete{@include sprite(19,16);}
    &.icons-app-signal_flag_yellow_delete{@include sprite(20,16);}
    &.icons-app-table_select_column{@include sprite(21,16);}
    &.icons-app-toggle_collapse{@include sprite(22,16);}
    &.icons-app-toggle_expand{@include sprite(23,16);}   
    &.icons-app-export{@include sprite(24,16);}   

    &.icons-app-signal_flag_blue{@include sprite(25,16);}   
    &.icons-app-signal_flag_red{@include sprite(26,16);}   
    &.icons-app-signal_flag_yellow{@include sprite(27,16);}   
}
