<div class="ui-container-fluid">
  <h1>QA Testing Page</h1>
  <p>Used for testing non-routable components.</p>
  <a routerLink="charts">Charts</a> | <a routerLink="maps">Maps</a> | <a routerLink="tables">Tables</a> | <a routerLink="grid">Grid</a> |
  <a routerLink="forms">Forms</a> | <a routerLink="calendar">Calendar</a>
  <hr />

  <p>Service Worker</p>
  <p-button type="button" (click)="pushNotification()" label="Send push notification" class="mr-2"></p-button>
  <p-button type="button" pp-button (click)="removeSW()" label="Delete service worker" class="mr-2"></p-button>
  <hr />

  <p>Toaster Pop</p>
  <p-button type="button" pp-button (click)="toasterPop()" label="Toaster Pop" class="mr-2"></p-button>

  <p-toast></p-toast>
  <hr />

  <p>Modals</p>
  <p-button type="button" (click)="modalConfirm()" label="Confirmation Window" class="mr-2"></p-button>
  <ng-container *ngIf="settings.isBrowser">
    <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
  </ng-container>
  <p-button type="button" (click)="modalOpen()" label="Demo Modal" class="mr-2"></p-button>
  <p-button type="button" (click)="modalOpen2()" label="Logout Modal" class="mr-2"></p-button>
  <p-button type="button" (click)="modalOpen3()" label="Feedback Modal" class="mr-2"></p-button>
  <hr />


  <p>Counter</p>
  <nts-counter></nts-counter>
 
  
  <hr />
  <p>Filter Pipe</p>
  <div class="row">
    <div class="col-6">
      <p>Array of strings</p>
      <input class="form-control" [(ngModel)]="filterFruit" id="filterPipeInput" />
      <p-button class="btn btn-primary" (click)="filterFruit = ''" id="filterPipeInputBtn">
        Clear
      </p-button>
      <ul id="filterPipeOutput">
        <li *ngFor="let fruit of fruits | filter: filterFruit">{{ fruit }}</li>
      </ul>
    </div>
    <div class="col-6">
      <p>Array of objects</p>
      <input class="form-control" [(ngModel)]="filterFruitMore" id="filterPipeInputMore" />
      <p-button class="btn btn-primary" (click)="filterFruitMore = ''" id="filterPipeInputMoreBtn">
        Clear
      </p-button>
      <ul id="filterPipeOutputMore">
        <li *ngFor="let fruit of fruitsMore | filter: filterFruitMore:'name'">
          {{ fruit.name }}
        </li>
      </ul>
    </div>
  </div>

  <hr />
  <p>Debounce Pipe</p>
 
</div>
