<div class="container-fluid">
  <h1>QA Testing Page</h1>
  <p>Used for testing non-routable components.</p>
  <hr />
  <app-launch-modal classes="btn btn-primary app-launch-modal"
                    modal="ConfirmationModalComponent" size="lg"
                    [data]="'Does the confirmation modal work?'"
                    [dataAlt]="'Testing Confirmation Modal'"
                    (onSuccess)="launchModalSuccess($event)">
    Launch Modal Component
  </app-launch-modal>
  <div *ngIf="launchModalWorks" id="launchModalWorks">Success method works</div>
  <hr/>
</div>
