:host,
.map {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.maps-loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
}
.MicrosoftMap {
  z-index: 2;
}
