<div class="author"><strong>Author:</strong> Jerrol Krause</div>

<h1>Form Generator</h1>
<p>The form generator is a tool for creating dynamic and customizable forms with features such as:</p>
<ul>
  <li>Model-driven approach for easy form creation and management.</li>
  <li>Valid JSON for easy use with a REST API</li>
  <li>Responsive layout for optimal display on various devices</li>
  <li>A variety of form fields to choose from including input, dropdown, radio, and more</li>
  <li>Support for HTML and dynamic content, allowing for flexible and personalized forms</li>
  <li>Dynamic visibility for showing and hiding fields based on user input</li>
  <li>Data fields to display information from external sources such as a REST API</li>
  <li>Customizable footer to add additional information or links.</li>
</ul>
<hr />

<p-tabView>
  <!-- Documentation -->
  <p-tabPanel header="Documentation">
    <h2>Import</h2>
    <pre><code class="language-ts" [innerHtml]="import"></code></pre>
    <h2>HTML</h2>
    <pre><code class="language-html" [innerHtml]="exampleHTML"></code></pre>
    <h2>Typescript</h2>
    <pre><code class="language-ts" [innerHtml]="handlersTs"></code></pre>
  </p-tabPanel>
  <!-- Example -->
  <p-tabPanel header="Examples & Features">
    <h2>Available Features</h2>
    <p-accordion>
      <p-accordionTab header="Basic Example">
        <nts-basic></nts-basic>
      </p-accordionTab>
      <p-accordionTab header="Layout">
        <h2>Layout</h2>
        <p>
          Layout content types are used to build responsive form with containers, rows, and columns and involve dividing
          the form into separate sections (containers) and organizing the form elements into rows and columns within
          those sections.
        </p>
        <p>
          There are 3 varieties of layout content types: containers, rows and columns. Containers are wrappers around
          other content types and are used to to group other elements or provide styling. Rows form the basis of
          responsive layouts and contain columns which hold content. Layout content types are not required, IE you can
          have form content directly in the form generator without either a container or rows.
        </p>
        <hr />
        <h2>Example</h2>
        <nts-form-generator
          [formModel]="layoutModel"
          [formGroup]="formGroup"
          (completed)="completed($event)"
        ></nts-form-generator>
        <hr />
        <h2>Code</h2>
        <pre><code class="language-ts" [innerHtml]="layoutCode"></code></pre>
      </p-accordionTab>
      <p-accordionTab header="Form Fields">
        <h2>Form Fields</h2>
        <p>
          This form generation tool offers a wide variety of form fields including text inputs, radio buttons,
          checkboxes, dropdown menus, and more to help you create custom forms to suit your specific needs.
        </p>
        <p>Labels, prefixes, suffixes and hints support HTML.</p>
        <p>See the <a routerLink="/forms/form-fields">form fields page</a> for more detailed information</p>
        <hr />
        <h2>Example</h2>
        <nts-form-generator
          [formModel]="formFieldsModel"
          [formGroup]="layoutForm"
          (completed)="completed($event)"
        ></nts-form-generator>
        <hr />
        <h2>Code</h2>
        <pre><code class="language-ts" [innerHtml]="formFields"></code></pre>
      </p-accordionTab>
      <p-accordionTab header="HTML">
        <h2>HTML</h2>
        <p>
          Use normal HTML embedded within the form. Uses Angular's [innerHtml] to render which means css classes are
          kept but inline styles are stripped out.
        </p>
        <hr />
        <h2>Example</h2>
        <nts-form-generator
          [formModel]="htmlModel"
          [formGroup]="formGroup"
          (completed)="completed($event)"
        ></nts-form-generator>
        <hr />
        <h2>Code</h2>
        <pre><code class="language-ts" [innerHtml]="htmlCode"></code></pre>
      </p-accordionTab>
      <p-accordionTab header="Dynamic Visibility">
        <nts-visibility></nts-visibility>
      </p-accordionTab>
      <p-accordionTab header="Dynamic Content">
        <nts-dynamic-content></nts-dynamic-content>
      </p-accordionTab>
      <p-accordionTab header="Datafields">
        <nts-data-fields></nts-data-fields>
      </p-accordionTab>
      <p-accordionTab header="Custom Footer">
        <nts-custom-footer></nts-custom-footer>
      </p-accordionTab>
    </p-accordion>
  </p-tabPanel>
</p-tabView>
