<h2>Dynamic Content</h2>
<p>
  Dynamic content in the form generator allows for dynamic real-time display of user-entered data in other parts of the
  form. This feature uses Angular double curly braces to display data and retrieves the data from the form using Angular
  dot notation as used by reactive forms. With this feature, users can easily create custom and responsive forms that
  dynamically display user-entered data in various parts of the form.
</p>
<p>HTML and formfield labels/prefixes/suffixes/hints support dynamic content.</p>
<hr />
<h2>Examples</h2>
<nts-form-generator [formModel]="formModel" [formGroup]="formGroup"> </nts-form-generator>

<hr />
<h2>Code</h2>
<pre><code class="language-typescript" [innerHtml]="layoutCode"></code></pre>
