<h2>Text Input Examples</h2>
<form [formGroup]="formGroup">
    <p class="example">
        <nts-input-text placeholder="Jerrol" id="id" name="name" styleClass="classes" label="The Kitchen Sink"
            placeholder="John" suffix="Suffix" prefix="Prefix" hint="This is a hint" formControlName="modelText"
            [disabled]="false" automationId="kitchen-sink"></nts-input-text>
    </p>

    <p class="example">
        <nts-input-text placeholder="Jerrol" id="id" name="name" styleClass="classes" label="Disabled"
            placeholder="John" formControlName="disabled" [disabled]="true"></nts-input-text>
    </p>

    <p class="example">
        <nts-input-text placeholder="Jerrol" id="id" name="name" styleClass="classes" label="Hovered Label"
            [hover]="false" placeholder="John" formControlName="focused"></nts-input-text>
    </p>
</form>