<div class="p-container-fluid">
  <div class="p-grid">
    <div class="p-col">
      <p-card>
        <div class="p-3">
          <!---->
          <nts-api-state [state]="users" *ngIf="users$ | async as users">
            <nts-table [rows]="users.data" [columns]="columns"></nts-table>
          </nts-api-state>
        </div>
      </p-card>
    </div>
    <div class="p-col p-md-3 p-2">
      <p-card>
        <div class="p-3">
          <h2>Add/Modify User</h2>
          <form [formGroup]="formMain">
            <p><nts-form-field formControlName="name" placeholder="Name"></nts-form-field></p>
            <p><nts-form-field formControlName="email" placeholder="Email"></nts-form-field></p>
            <p><nts-form-field formControlName="phone" placeholder="Phone"></nts-form-field></p>
            <p><nts-form-field formControlName="username" placeholder="Username"></nts-form-field></p>
            <p><button class="btn btn-primary">Submit</button></p>
          </form>
        </div>
      </p-card>
    </div>
  </div>
</div>
