<div class="author"><strong>Author:</strong> Jerrol Krause</div>
<h1>File Uploader</h1>
<p>A component to simplify the file upload box including preview and data conversion</p>
<hr />

<p-tabView>
  <!-- Documentation -->
  <p-tabPanel header="Documentation">
    <h2>Import</h2>
    <pre><code class="language-ts" [innerHtml]="import"></code></pre>
    <p>HTML</p>
    <pre><code class="language-html" [innerHtml]="exampleHTML"></code></pre>
    <p>Typescript</p>
    <pre><code class="language-ts" [innerHtml]="inputFieldTs"></code></pre>
    <p>FilesOutput Interface</p>
    <pre><code class="language-ts" [innerHtml]="handlersTs"></code></pre>
  </p-tabPanel>
  <!-- Example -->
  <p-tabPanel header="Example">
    <nts-file-uploader (filesOutput)="filesOutput($event)"></nts-file-uploader>
  </p-tabPanel>
</p-tabView>
