// Universal Brand UI
@import "ui/variables";
@import "ui/mixins";
@import "ui/layout";
@import "ui/interactive";
@import "ui/typography";
@import "ui/forms";
@import "ui/tables";
@import "ui/animations";

// Universal Brand Components
@import "components/accordions";
@import "components/alerts";
@import "components/buttons";
@import "components/cards";
@import "components/datatables";
@import "components/navbar";
@import "components/modals";
@import "components/poptooltips";
@import "components/tabs";

// Brand specific global HTML styles
// Only default html elements that cannot be semantically namespaced should go here. This section should be as small as possible
a, a:not([href]):not([tabindex]) { color: $cp-orange-dk;
    &.alt{color:$mello-blue!important;}
    &:hover { color: $interact-hover; }
    &:active { color: $interact-active; }
}
