body {}
//Solves a bug with ngx- datatable where it incorrectly draws the columns widths BEFORE the horizontal scrollbar is available

// App specific layout
header .bg-mello {
    .navbar { margin-bottom: 0; }
    .fa { color: $ld-primary-lt; }
    a:hover .fa { color: $ld-interact; }
    .navbar-brand { padding-top: .25rem; padding-bottom: .25rem; margin-right: 1.5rem; }
}
.loan-status { margin-bottom: 1rem; background: #f9fafd; border-bottom: solid 1px #ddd;
    .loan-status-block { font-size: 0.85rem; border-right: solid 1px #ddd; padding: .25rem .5rem; padding-top: .15rem; }
}

.typeahead { position: relative;
    .dropdown-menu { right: 0px; }
    .dropdown-item { overflow: hidden; }
}

.flexBox {
	display: flex;
    align-items: center;
}

.positionArrow .form-control-success{
	background-position: center right 1rem;
}

.popover {
    max-width:none;
}

.dropdown-menu {
    padding: 0;
}