h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5{
    font-weight: 500;
    &.icon{
        border-bottom:2px solid $ld-primary-dk;margin-left: 5px;
        .fa{color:white;@include gradient($ld-primary-lt,$ld-primary-dk);padding: 4px;border-radius: 4px 4px 0px 4px; margin-left: -4px;position: relative;top: 2px;}
    }
}

.cp-interact{color:$ld-primary-dk;}
.red{color:#bc2727;}
.blue{color:#2121b7;}
.white{color:white!important;}
.yellow{color:yellow;}
.grey-lt { color: #999; }
.grey-dk { color: #777; }
