/***** Condition Portal Variables *****/

$cp-purple              : #5C2D91;
$cp-purple-lt           : #cfb5f7;
$cp-purple-dk           : #8661bf;

$cp-orange              : #f6ac38;
$cp-orange-lt           : #e8cfba;
$cp-orange-dk           : #c98f5e;

// Primary color palette
$ld-primary             : $cp-orange;
$ld-primary-lt          : $cp-orange-lt;
$ld-primary-dk          : $cp-orange-dk;

// Unique variables exclusively for user interaction components like <a> tags and buttons
$ld-interact            : #da861a;
$ld-interact-lt         : #ffecc9;
$ld-interact-hover      : $cp-orange-dk;
$ld-interact-active     : $cp-orange-dk;
