<div class="ui-container-fluid" *ngIf="{ users: users$ | async } as route">
  <p>
    This is a copy+pastable lazy loaded routed module. Someday I'll have time to
    learn Schematics...
  </p>
  <div>
    <!--  [selectedIndex]="uiState.tabActive$('home') | async" (selectedTabChange)="uiState.tabChange('home', $event)" -->
    <p-tabView>
      <p-tabPanel header="Api Example">
        <nts-api-state [state]="route.users">
          <div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-8">
                <div
                  class="alert alert-warning icon"
                  *ngIf="!route?.users?.ids?.length"
                >
                  No users found.
                </div>
                <table
                  class="table table-sm table-striped"
                  *ngIf="route?.users?.ids?.length"
                >
                  <tbody>
                    <tr *ngFor="let id of route.users.ids">
                      <td>{{ route.users.entities[id].name }}</td>
                      <td>{{ route.users.entities[id].username }}</td>
                      <td>{{ route.users.entities[id].email }}</td>
                      <td>{{ route.users.entities[id].website }}</td>
                      <td>
                        <a (click)="user = route.users.entities[id]">Edit</a>
                      </td>
                      <td>
                        <a (click)="userDelete(route.users.entities[id])"
                          >Delete</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p-button
                  (click)="usersRefresh()"
                  icon="fa fa-refresh"
                  label="Refresh Users"
                ></p-button>
              </div>
              <div class="ui-g-12 ui-md-4">
                <p-card> <app-user-form [user]="user"></app-user-form> </p-card>
              </div>
            </div>
          </div>
        </nts-api-state>
      </p-tabPanel>
      <p-tabPanel header="Accordion">
        <p-accordion>
          <p-accordionTab header="Header 1">
            Content 1
          </p-accordionTab>
          <p-accordionTab header="Header 2">
            Content 2
          </p-accordionTab>
          <p-accordionTab header="Header 3">
            Content 3
          </p-accordionTab>
        </p-accordion>
      </p-tabPanel>
      <p-tabPanel header="Header 3">
        Content 3
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
