<div class="author"><strong>Author:</strong> Jerrol Krause</div>
<h1>CacheMap</h1>
<p>
  A custom RXJS operator that caches an observable stream in memory. It works like mergeMap but uses the upstream data
  to cache the data returned from the downstream observable. The goal is to improve the performance by avoiding
  unnecessary repeat calculations, while still returning fresh data.
</p>

<p><strong>Features:</strong></p>
<ul>
  <li>Works with primitive and non-primitive data types.</li>
  <li>
    Supports cache expiration (time-to-live, or ttl) to ensure that the cache is cleared after a certain amount of time.
  </li>
  <li>Optionally uses a custom function (uniqueIdFn) to generate a unique identifier for each data item.</li>
  <li>Uses strict null checking to avoid possible errors from undefined values.</li>
  <li>Returns data from the cache if possible, and only fetches new data from the stream when needed.</li>
  <li>Stores the data returned from the stream in the cache for future use.</li>
</ul>
<hr />

<p-tabView>
  <p-tabPanel header="Documentation">
    <h2>Install</h2>
    <pre>
            <code class="language-ts" [innerHtml]="install"></code>
        </pre>
    <p>Use exactly like you would use mergeMap or switchMap</p>
    <pre>
            <code class="language-ts" [innerHtml]="inner"></code>
        </pre>

    <p>Options</p>
    <pre>
                <code class="language-ts" [innerHtml]="usage1"></code>
            </pre>
  </p-tabPanel>

  <p-tabPanel header="Example">
    <p>
      To test, open the network tab and observe the XHR requests as you click on the users. HTTP requests will not be
      repeated per user.
    </p>
    <hr />

    <h2>Available Users</h2>
    <div class="row">
      <div class="col col-12 col-md-6">
        <p><em>Click to load user data</em></p>
        <ng-container *ngIf="users$ | async as users">
          <div *ngFor="let user of users">
            <a (click)="updateUser(user.id)">{{ user.name }}</a>
          </div>
        </ng-container>
      </div>
      <div class="col col-12 col-md-6" *ngIf="user$ | async as user">
        <p><strong>Current User</strong></p>
        <table class="table table-sm table-striped">
          <tbody>
            <tr>
              <td><strong>Name</strong></td>
              <td>{{ user.name }}</td>
            </tr>
            <tr>
              <td><strong>Email</strong></td>
              <td>{{ user.email }}</td>
            </tr>
            <tr>
              <td><strong>Username</strong></td>
              <td>{{ user.username }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div></p-tabPanel
  >
  <!--
  <p-tabPanel header="API"> Coming soon! </p-tabPanel>
  -->
</p-tabView>
