<div class="author"><strong>Author:</strong> Jerrol Krause</div>
<h1>DOM Abstraction Service</h1>
<p>A service wrapper around DOM/window APIs which simplify browser checks when working with Node/SSR</p>
<p>All apis are nullable which simplifies nill checks for browser only capabilities</p>
<hr />

<p-tabView>
  <p-tabPanel header="Documentation">
    <div>
      <h2>Installation</h2>
      <pre>
                <code class="language-ts" [innerHtml]="exampleTSInstall"></code>
            </pre>
      <h2>Setup</h2>
      <pre>
                <code class="language-ts" [innerHtml]="exampleTS"></code>
            </pre>
    </div>
  </p-tabPanel>
  <!--
    <p-tabPanel header="Example">
        <div>
            <h2>Check the console and the JS tab in the Network Tab to see the script loading</h2>
        </div>
    </p-tabPanel>
    -->
  <!--
    <p-tabPanel header="API"> Coming soon! </p-tabPanel>
-->
</p-tabView>
