<div class="form-group row" [formGroup]="frmGroup"
     [ngClass]="{
     'has-danger' : field.invalid && field.dirty && field.touched,
     'has-success' : field.valid && field.validator,
     'required' : field.validator}">
    <label for="frm_{{frmControl}}" class="col-12 col-md-3 col-form-label" *ngIf="label && label != ''">
        {{label}} <sup class="red" *ngIf="field.validator">*</sup>
    </label>
    <div class="col-12 " [ngClass]="{'' : label && label != 'col-md-9'}">
        
        <div *ngIf="!files">
        <label  [ngClass]="{'dragNDrop' : dragNdrop, 'hover': hover}" for="frm_{{frmControl}}" (dragover)="updateHover(true)" (dragleave)="updateHover(false)" (mouseleave)="updateHover(false)">
            <span class="d-block text-center"><i class="fa fa-upload fa-5x" aria-hidden="true"></i></span>
            <span class="h3">Drop file<span *ngIf="multiple">/s</span> here or click to upload</span>
            <input class="form-control {{classes}}" id="frm_{{frmControl}}" type="file" (change)="onFilesAdded($event)" [attr.multiple]="multiple ? multiple : null" data-qa="file-upload"/>
        </label>
            <small *ngIf="multiple"><em>Control + Click to select multiple files.</em></small>
            <small *ngIf="!multiple"><em>Single file upload only.</em></small>
        </div>

        <div *ngIf="files">
            <div class="float-right"><a href="javascript:void" (click)="deleteFiles()"><i class="fa fa-times" aria-hidden="true"></i> Remove Files</a></div>
            <p><strong>File<span *ngIf="multiple">/s</span> to be uploaded :</strong></p>
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Document Name</th>
                        <th>Filesize</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let file of files">
                        <td><i class="fa fa-file-pdf-o fa-lg" aria-hidden="true"></i></td>
                        <td>{{file.name}}</td>
                        <td>{{file.size/1000 | number : '1.2-2'}}/kb</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="field.errors && field.dirty && field.touched"
             class="alert alert-danger alert-form icon">
            <span [hidden]="!field.errors.required">
                {{label}} is required.
            </span>
            <span [hidden]="!field.errors.minlength" *ngIf="field.errors.minlength">
                {{label}} must be at least {{field.errors.minlength.requiredLength || 0}} characters long.
            </span>
            <span [hidden]="!field.errors.email">
                Please enter a valid email address.
            </span>
            <span [hidden]="!field.errors.pattern">
                Please enter a valid {{label}}.
            </span>

        </div>
        <!--
        <code>
            {{field.errors | json}}
        </code>
        -->
    </div>
</div>
