<context-menu #contextMenu>

  <ng-template contextMenuItem let-item (execute)="doCoolStuff()">
    <i class="fa fa-phone" aria-hidden="true"></i> Dial {{ item[0].name }}
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>

  <ng-template contextMenuItem let-item (execute)="doCoolStuff()">
    <i class="fa fa-envelope" aria-hidden="true"></i> Email {{ item[0].name }}
  </ng-template>
  <ng-template contextMenuItem let-item (execute)="doCoolStuff()">
    <i class="fa fa-comments" aria-hidden="true"></i> SMS {{ item[0].name }}
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>

  <ng-template contextMenuItem let-item [subMenu]="subMenuTags">
    <i class="fa fa-tag" aria-hidden="true"></i> Tags
  </ng-template>

  <!-- Submenu -->
  <context-menu #subMenuTags>
    <ng-template contextMenuItem let-item (execute)="doCoolStuff()">
      <div class="tag" style="background-color: red;"></div> Urgent
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="doCoolStuff()">
      <div class="tag" style="background-color: orange;"></div>  Followup
    </ng-template>
    <ng-template contextMenuItem let-item (execute)="doCoolStuff()">
      <div class="tag" style="background-color: blue;"></div> To Do Later
    </ng-template>
  </context-menu>

</context-menu>
