<h1>Ntersol UI Library</h1>
<p>
  The Ntersol UI library is a collection of tools, components, utilities (anything really) to facilitate
  cheaper/faster/better software development.
</p>
<p>Our base UI library is <a href="https://www.primefaces.org/primeng/showcase/#/">PrimeNG</a>.</p>
<hr />
<div class="row">
  <div class="col col-12 col-md-4">
    <h2><i class="fas fa-cubes"></i> Components</h2>
    <ul>
      <li><a class="inactive" routerLink="/coming-soon">Calendar</a></li>
      <li><a class="inactive" routerLink="/coming-soon">Chart</a></li>
      <li>
        <a routerLinkActive="strong em" routerLink="/components/doc-editor">Document Editor</a>
      </li>
      <li><a class="inactive" routerLink="/components/file-uploader">File Uploader</a></li>
      <li><a class="inactive" routerLink="/coming-soon">Forms</a></li>
      <li><a class="inactive" routerLink="/coming-soon">Grid</a></li>
      <li>
        <a routerLinkActive="strong em" routerLink="/components/google-places-autocomplete"
          >Google Places Autocomplete</a
        >
      </li>
      <li><a routerLinkActive="strong em" routerLink="/components/mtg-calc">Mortgage Calculator</a></li>
      <li><a routerLinkActive="strong em" routerLink="/components/mtg-calc">Mortgage Calculator</a></li>
      <li><a routerLinkActive="strong em" routerLink="/components/table">Table</a></li>
      <li><a routerLinkActive="strong em" routerLink="/components/tags">Tags</a></li>
      <li><a class="inactive" routerLink="/coming-soon">Tree</a></li>
      <li><a routerLinkActive="strong em" routerLink="/components/wizard">Wizard</a></li>
      <li><a routerLinkActive="strong em" routerLink="/components/visible">Visible</a></li>
    </ul>
  </div>
  <div class="col col-12 col-md-4">
    <h2><i class="fas fa-cloud-upload-alt"></i> State Management</h2>
    <ul>
      <li><a routerLinkActive="strong em" routerLink="/state-management/api-store-creator"> Api Store Creator</a></li>
      <li><a routerLinkActive="strong em" routerLink="/state-management/ui-store-creator"> UI Store Creator</a></li>
      <li>
        <a routerLinkActive="strong em" routerLink="/state-management/store-communication">Store Communication</a>
      </li>
    </ul>
    <div class="mb-3">
      <h2><i class="fas fa-map-marker-alt"></i> Mapping/GIS</h2>
      <div class="pl-3">
        <ul>
          <li><a class="inactive" routerLink="/coming-soon">Azure Maps</a></li>
          <li><a class="inactive" routerLink="/coming-soon">Bing Maps</a></li>
          <li><a class="inactive" routerLink="/coming-soon">Mapbox</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col col-12 col-md-4">
    <h2><i class="fas fa-network-wired"></i> Services</h2>
    <ul>
      <li>
        <a routerLinkActive="strong em" routerLink="/services/signal-r">SignalR</a>
      </li>
      <li>
        <a routerLinkActive="strong em" routerLink="/services/service-worker">Service Worker</a>
      </li>
    </ul>
    <h2><i class="fas fa-cogs"></i> Utilities</h2>
    <ul>
      <li><a routerLinkActive="strong em" routerLink="/utilities/script-loader">Script Loader</a></li>
      <li><a routerLinkActive="strong em" routerLink="/utilities/lib-loader">Lib Loader</a></li>
      <li><a routerLinkActive="strong em" routerLink="/utilities/formgroup-2-api">FormGroup 2 Api</a></li>
      <li><a routerLinkActive="strong em" routerLink="/utilities/remove-nils">Remove Nils</a><br /></li>
      <li><a routerLinkActive="strong em" routerLink="/utilities/image-resizer">Image Resizer</a></li>
      <li><a routerLinkActive="strong em" routerLink="/utilities/focus-trap">Focus Trap</a></li>
      <li><a routerLinkActive="strong em" routerLink="/utilities/dialog">Dialog</a></li>
    </ul>
  </div>

  <div class="col col-12 col-md-4">
    <h2><i class="fas fa-atom"></i> Schematics</h2>
    <ul>
      <li><a routerLinkActive="strong em" routerLink="/schematics/generators">Generators</a></li>
      <li><a routerLinkActive="strong em" routerLink="/schematics/pwa">PWA Generation</a></li>
    </ul>
  </div>

  <div class="col col-12 col-md-4">
    <h2><i class="fas fa-image"></i> Assets</h2>
    <ul>
      <li><a routerLinkActive="strong em" routerLink="/assets/root">Root Assets</a></li>
    </ul>
  </div>
</div>
