/* You can add global styles to this file, and also import other style files */

// @import '~bootstrap/scss/bootstrap';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/tables';
@import '~@fortawesome/fontawesome-free/css/all.css';

@import '~primeicons/primeicons.css';
@import 'styles/theme/nova-light/theme';
@import '~primeng/resources/primeng.min.css';

// Global styling
@import './styles/globals';

// Application styling
@import './styles/app';
