import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { <%= className %>Component } from './<%= fileName%>.component';
import { SiteModule } from '../../site.module';
import { <%= className%>RoutingModule } from './<%= fileName%>-routing.module';

@NgModule({
  imports: [CommonModule, SiteModule, <%= className%>RoutingModule],
  declarations: [<%= className %>Component],
})
export class <%= className%>Module {}
