import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { <%= classify(name) %>Component } from './<%= dasherize(name)%>.component';
import { SiteModule } from '../../site.module';
import { <%= classify(name)%>RoutingModule } from './<%= dasherize(name)%>-routing.module';

@NgModule({
  imports: [CommonModule, SiteModule, <%= classify(name)%>RoutingModule],
  declarations: [<%= classify(name) %>Component],
})
export class <%= classify(name)%>Module {}
