<p-menubar [model]="navMenu" *ngIf="isDesktop$ | async; else mobileTemplate">
  <div>
    <ng-container *ngIf="hasUpdate$ | async as hasUpdate">
      <button pButton type="button" icon="fas fa-exclamation-triangle" label="Update Available"
        (click)="updateApp()"></button>
    </ng-container>
    <p-slideMenu #menu [model]="utilityMenu" [popup]="true" [viewportHeight]="utilityMenu.length * 65"></p-slideMenu>
    <!--
    <a label="Show" (click)="menu.toggle($event)">
      <i class="fas fa-user mr-2"></i> <span class="mr-2">{{ userName }}</span>
      <i class="fas fa-caret-down mr-1"></i>
    </a>
    -->
  </div>
</p-menubar>

<ng-template #mobileTemplate>
  <div class="pt-2 float-right">
    <a (click)="sidebarVisible = true" class="p-2">
      <i class="fas fa-bars fa-lg mr-2"></i>
    </a>
  </div>
</ng-template>

<p-sidebar [(visible)]="sidebarVisible">
  <p-menu [model]="navMenu"></p-menu>
  <hr />
  <p-menu [model]="utilityMenu"></p-menu>
</p-sidebar>

<!--
<div class="nav-component">
  <button
    class="navbar-toggler navbar-toggler-right"
    type="button"
    aria-controls="navbar-main"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isOpen = !isOpen"
  >
    <i class="fas fa-bars" aria-hidden="true"></i>
  </button>

  <div class="navbar-collapse" id="navbar-main" [ngClass]="{ 'collapse open': isOpen }">
    <div class="navbar-mobile">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-tachometer-alt mr-1" aria-hidden="true"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-cubes mr-1" aria-hidden="true"></i> Demo Route
          </a>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto d-block d-lg-none nav-mobile-only">
        <li class="nav-item"><ng-container *ngTemplateOutlet="utilityNav"></ng-container></li>
      </ul>

      <div class="form-inline my-2 my-lg-0 d-none d-lg-flex">
        <ng-container *ngIf="(hasUpdate$ | async) as hasUpdate">
          <a class="badge badge-warning mr-3 py-2" (click)="updateApp()" style="color:#fff;">
            <i class="fas fa-exclamation-triangle"></i> Update Available
          </a>
        </ng-container>

        <a [matMenuTriggerFor]="appMenu">
          <i class="fas fa-user mr-1"></i> <span class="mr-1">{{ userName }}</span> <i class="fas fa-caret-down mr-1"></i>
        </a>
        <mat-menu #appMenu="matMenu" xPosition="after"> <ng-container *ngTemplateOutlet="utilityNav"></ng-container> </mat-menu>
      </div>
    </div>
    <div class="nav-mobile-bg" (click)="isOpen = !isOpen"></div>
  </div>
</div>

<ng-template #utilityNav>
  <button mat-menu-item disabled *ngIf="(version$ | async) as version">Version: {{ version }}</button>

  <a mat-menu-item class="nav-link" (click)="logOut()"> <i class="fas fa-power-off mr-1" aria-hidden="true"></i> Sign Out </a>
</ng-template>
-->