<div class="author"><strong>Author:</strong> Jerrol Krause</div>
<h1>Api Store Creator</h1>
<p>Easily create flux pattern stores to manage communication between an api and the application</p>
<hr />

<p-tabView>
  <p-tabPanel header="Documentation">
    <h2>Install</h2>
    <pre>
      <code class="language-ts" [innerHtml]="install"></code>
    </pre>

    <h2>Setup</h2>
    <p>1. Import into module</p>
    <pre>
      <code class="language-ts" [innerHtml]="importExample"></code>
    </pre>
    <p>2. Set up api calls in a service</p>
    <pre>
      <code class="language-ts" [innerHtml]="usage1"></code>
    </pre>
    <p>3. Set up store connections in the component</p>
    <pre>
      <code class="language-ts" [innerHtml]="usage2"></code>
    </pre>
    <p>4. Wire up to template</p>
    <pre>
      <code class="language-html" [innerHtml]="usage3"></code>
    </pre>
    <hr />
    <h2>Communication Between Stores</h2>
    <p></p>
  </p-tabPanel>

  <p-tabPanel header="Example">
    <nts-state-management-example></nts-state-management-example>
  </p-tabPanel>
  <!--
  <p-tabPanel header="API"> Coming soon! </p-tabPanel>
  -->
</p-tabView>

<!-- nts-api-state will automatically display loader and error messages
  <nts-api-state [state]="users" *ngIf="users$ | async as users">
    <ng-container *ngIf="users?.data?.length; else noData">
      <ng-container *ngFor="let user of users.data">
        <!-- Output User data here
      </ng-container>
    </ng-container>
    <ng-template #noData> No users found </ng-template>
  </nts-api-state>
  -->