<div class="author"><strong>Author:</strong> Jerrol Krause</div>
<h1>Validators</h1>
<p>Coming soon!</p>
<hr />

<div class="float-right">
    <button class="btn btn-primary btn-sm" (click)="test()">Test Errors</button>
</div>
<h2>Character Validators</h2>
<p>
    <nts-input-text label="isEqualTo" [control]="form.get('isEqualTo')"></nts-input-text>
</p>
<p>
    <nts-input-text label="isGreaterThan" [control]="form.get('isGreaterThan')"></nts-input-text>
</p>
<p>
    <nts-input-text label="isLessThan" [control]="form.get('isLessThan')"></nts-input-text>
</p>
<hr />
<h2>Number Validators</h2>