<div class="author"><strong>Author:</strong> Jerrol Krause</div>
<h1>Validators</h1>
<p>Coming soon!</p>
<hr />

<div class="float-right">
    <button class="btn btn-primary btn-sm" (click)="test()">Test Errors</button>
</div>
<h2>Character Validators</h2>
<p>
    <nts-input-text label="isEqualTo 5" [control]="form.get('charsIsEqualTo')"></nts-input-text>
</p>
<p>
    <nts-input-text label="isGreaterThan 5" [control]="form.get('charsIsGreaterThan')"></nts-input-text>
</p>
<p>
    <nts-input-text label="isLessThan 5" [control]="form.get('charsIsLessThan')"></nts-input-text>
</p>
<hr />
<h2>Number Validators</h2>
<p>
    <nts-input-text label="isGreaterThan 99" [control]="form.get('numIsGreaterThan')"></nts-input-text>
</p>
<p>
    <nts-input-text label="isLessThan 10" [control]="form.get('numIsLessThan')"></nts-input-text>
</p>

<h2>Async Validators</h2>
<p>
    <nts-input-text label="Boolean Response" [control]="form.get('async')"></nts-input-text>
</p>