<div class="modal-header">
  <h3 class="modal-title"><i class="fa fa-question-circle-o" aria-hidden="true"></i> Confirmation</h3>
  <button type="button" class="close" aria-label="Close" mat-dialog-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body" id="modal-body">
  <p class="mb-0">{{ data }} </p>
</div>

<div class="modal-footer" style="justify-content: space-between;">
  <button type="button" mat-raised-button class="mat-reverse float-left pull-left dismiss" mat-dialog-close>
    <i class="fa fa-remove" aria-hidden="true"></i> Cancel
  </button>
  <button type="button" mat-raised-button class="mat-reverse" (click)="submit()" aria-label="Close">
    <i class="fa fa-check" aria-hidden="true"></i> Confirm
  </button>
</div>