<div id="app-home" class="container-fluid" *ngIf="{ users: users$ | async } as route">

  <app-api-state [state]="route.users">

    <div class="alert alert-warning icon" *ngIf="!route?.users?.data?.length">No users found</div>

    <div class="row" *ngIf="route?.users?.data">
      <div class="col-12" [ngClass]="sidebarOpen ? 'col-md-9' : 'col-md-12' ">
        <div style="position:relative;height:calc(100vh - 150px)">

          <app-stepper>
            <step>
              <ng-template step-label-template>
                Step 1
              </ng-template>
              <ng-template step-body-template>
                <mat-card>
                  Step 1 Body
                </mat-card>
              </ng-template>
            </step>

            <step>
              <ng-template step-label-template>
                Step 2
              </ng-template>
              <ng-template step-body-template>
                <mat-card>
                  Step 2 Body
                </mat-card>
              </ng-template>
            </step>

            <step>
              <ng-template step-label-template>
                Step 3
              </ng-template>
              <ng-template step-body-template>
                <mat-card>
                  Step 3 Body
                </mat-card>
              </ng-template>
            </step>
          </app-stepper>

        </div>
      </div>
      <div class="col-12 col-md-3" *ngIf="sidebarOpen">
        <a class="float-right" (click)="userStopEdit()" *ngIf="isEditing"><i class="fa fa-user-plus" aria-hidden="true"></i> Add New User</a>
        <h2 *ngIf="!isEditing"> <i class="fa fa-user-plus" aria-hidden="true"></i> Add User</h2>
        <h2 *ngIf="isEditing"><i class="fa fa-user" aria-hidden="true"></i> Updating User</h2>
        <hr />

        <form [formGroup]="formMain" novalidate (ngSubmit)="userSubmit()">

          <div class="form-group row">
            <label for="username" class="col-3 col-form-label">Username<sup class="red">*</sup></label>
            <div class="col-9">
              <input class="form-control" type="text" id="username" formControlName="username">
            </div>
          </div>

          <div class="form-group row">
            <label for="name" class="col-3 col-form-label">Name<sup class="red">*</sup></label>
            <div class="col-9">
              <input class="form-control" type="text" id="name" formControlName="name">
            </div>
          </div>

          <div class="form-group row">
            <label for="website" class="col-3 col-form-label">Website</label>
            <div class="col-9">
              <input class="form-control" type="text" id="website" formControlName="website">
            </div>
          </div>

          <div class="form-group row">
            <label for="email" class="col-3 col-form-label">Email</label>
            <div class="col-9">
              <input class="form-control" type="email" id="email" formControlName="email">
            </div>
          </div>

          <div class="form-group row">
            <label for="phone" class="col-3 col-form-label">Phone</label>
            <div class="col-9">
              <input class="form-control" type="text" id="phone" formControlName="phone">
            </div>
          </div>

          <button type="submit" class="btn btn-primary float-right" [disabled]="route?.users?.modifying || formMain.invalid" [ngClass]="{ 'btn-waiting' : route?.users?.modifying }">
            <ng-container *ngIf="!isEditing">
              <i class="fa fa-user-plus" aria-hidden="true"></i> Add User
            </ng-container>
            <ng-container *ngIf="isEditing">
              <i class="fa fa-user" aria-hidden="true"></i> Update User
            </ng-container>
          </button>

        </form>

      </div>
    </div>

  </app-api-state>


</div>

<app-context-menu></app-context-menu>
