@import '../../../../styles/globals/variables';

header {
  background: #fff;
  border-bottom: 1px solid #e2e5e8;
  margin-bottom: 1rem;
  .navbar-brand {
    margin-right: 3rem;
    color: #000;
    .fa {
      color: yellow;
    }
  }
  .logo {
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
    color: $interact-primary;
  }
  .search-group {
    padding: 0.5em 1em;
    .form-control,
    .btn {
      border: 0;
    }
    .btn {
      border-left-width: 1px;
    }
    .search-option {
      width: 7rem;
    }
    .search-field {
      width: 8rem;
    }
  }

  .navbar {
    padding: 0;
  }
}
