<div class="author"><strong>Author:</strong> Jerrol Krause</div>
<h1>Storage Service</h1>
<p>
  A service wrapper for local and session storage which adds type safety, automatic json deserialization, observables
  and SSR support
</p>

<hr />

<p-tabView>
  <p-tabPanel header="Documentation">
    <div>
      <h2>Installation</h2>
      <pre>
                <code class="language-ts" [innerHtml]="exampleTSInstall"></code>
            </pre>

      <h2>Example Service</h2>
      <pre>
                <code class="language-ts" [innerHtml]="exampleTS"></code>
            </pre>
    </div>
  </p-tabPanel>
  <!--
    <p-tabPanel header="Example">
        <div>
            <h2>Check the console and the JS tab in the Network Tab to see the script loading</h2>
        </div>
    </p-tabPanel>
    -->
  <!--
    <p-tabPanel header="API"> Coming soon! </p-tabPanel>
-->
</p-tabView>
