:host {
  .nts-filter-small{
    height:21px;
    .ui-inputgroup{height: 24px;}
    .ui-inputgroup-addon{font-size: 10px;}
    .ui-widget{font-size: 12px;}
    .filter-clear{top:4%;}
  }
  .nts-filter-field {
    position: relative;
    display: inline-block;
  }
  .filter-clear {
    position: absolute;
    right: 9px;
    top: 16%;
  }
  .ui-inputgroup-addon {
    font-size: 14px;
  }
}
