:host {
  .nts-filter-field {
    position: relative;
    display: inline-block;
  }
  .filter-clear {
    position: absolute;
    right: 9px;
    top: 16%;
  }
  .ui-inputgroup-addon {
    font-size: 14px;
  }
}
