<div class="nts-filter-field" [ngClass]="{'nts-filter-small' : small }">
  <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"> <i class="fas fa-search"></i></span>
    <input
      pInputText
      #filter
      type="text"
      [size]="size"
      [placeholder]="placeholder"
      [ngModel]="filterTerm"
      (ngModelChange)="onChanges($event)"
      style="width:auto"
    />
  </div>
  <a class="filter-clear" (click)="onChanges(null)" *ngIf="filterTerm" tabindex="">
    <i class="fas fa-times"></i>
  </a>
</div>
