.nts-zoom-1 .fa {
  font-size: 10px;
}
.nts-zoom-2 .fa {
  font-size: 12px;
}
.nts-zoom-3 .fa {
  font-size: 14px;
}
.nts-zoom-4 .fa {
  font-size: 16px;
}

.nts-zoom-active {
  transition: 0.3s ease-out;
  background-image: linear-gradient(to top, #ad0000 0%, #ff4343 100%) !important;
  color: #fff;
  border: 1px solid red;
  opacity: 1;
}
