<div class="author"><strong>Author:</strong> Jerrol Krause</div>
<h1>Remove Nils</h1>
<p>
  Remove all nill values from a javascript data structure. This tool supports recursion and will remove all nil values
  from deeply nested objects/arrays.
</p>
<p>Removes:</p>
<ul>
  <li>Nulls</li>
  <li>Undefined</li>
  <li>Empty string</li>
  <li>Empty arrays</li>
  <li>Objects with no properties</li>
</ul>
<p>Does not remove:</p>
<ul>
  <li>False</li>
  <li>0</li>
</ul>

<hr />

<p-tabView>
  <p-tabPanel header="Documentation">
    <div>
      <h2>Setup</h2>
      <pre>
                <code class="language-ts" [innerHtml]="exampleTS"></code>
            </pre>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Example">
    <div>
      <pre>
                <code class="language-ts" [innerHtml]="exampleTS2"></code>
            </pre>
    </div>
  </p-tabPanel>
  <!--
    <p-tabPanel header="API"> Coming soon! </p-tabPanel>
-->
</p-tabView>
