:host {
  &::ng-deep {
    .p-timeline {
      margin-top: 2rem;
      clear: both;
    }

    .p-timeline-event {
      justify-content: center;
    }

    .p-timeline-event-opposite {
      max-width: 240px;
    }

    .p-timeline-event-content {
      flex-basis: 800px;
      max-width: 832px;

      .code-toolbar {
        pre {
          padding: 1ch;
          padding-right: 9ch;
          min-height: 40px;
          line-height: 0;

          code {
            margin-left: -8ch;
          }
        }

        .toolbar {
          .toolbar-item {
            button {
              padding: 0.5em;
              background: initial;
              box-shadow: none;
            }
          }
        }
      }
    }
  }
}

.content {
  margin-bottom: 3rem;
}
