<h2>Visibility</h2>
<p>
  Form generator has a visibility property that supports advanced features to control the visibility of all form
  elements. This property allows you to specify a boolean value to show or hide a control, or a string path to a form
  control to evaluate its value and determine its visibility. String paths use Angular dot notation for accessing form
  controls (IE "loanApplication.0.borrower.name") and look for a truthy or falsey value. You can also use the "!"
  operator to indicate negative values, such as "!"true, which evaluates to false. In addition, this visibility property
  supports a rules engine that enables you to create complex visibility conditions using logical operators like "eq" and
  "gt". With this feature, you can easily create dynamic forms that show or hide controls based on user input or other
  conditions.
</p>
<p>For the rules engine, available operators are: 'eq' | 'ne' | 'in' | 'nin' | 'gt' | 'lt'</p>
<hr />
<h2>Example</h2>
<nts-form-generator [formModel]="visibilityModel" [formGroup]="visibilityForm"></nts-form-generator>
<hr />
<h2>Code</h2>
<p>String values</p>
<pre><code class="language-ts" [innerHtml]="visibilityCode"></code></pre>
<p>Rules Engine</p>
<pre><code class="language-ts" [innerHtml]="visiblityCode2"></code></pre>
